<cdg-sample-section name="Editable table">
  <div class="sample-section column">
    <cdg-table id="sampleEditableTable"></cdg-table>
  </div>

  <pre>
  <code class="language-html">&lt;cdg-table id=&quot;sampleEditableTable&quot;&gt;&lt;/cdg-table&gt;
&lt;script&gt;
    const table = this.querySelector(&apos;#sampleEditableTable&apos;)
    table.data = [
      {
        first: &apos;Row 1&apos;,
        second: &apos;Second column data&apos;,
        third: &apos;Third column data with longer text than the others - row 1&apos;,
      },
      {
        first: &apos;Row 2&apos;,
        second: &apos;Second column&apos;,
        third: &apos;Third column data with longer text than the others - row 2&apos;,
      },
      {
        first: &apos;Row 3&apos;,
        second: &apos;Second of row 3&apos;,
        third: &apos;Third column data with longer text than the others - row 3&apos;,
      },
    ]
    table.options = {
      columns: [
        {
          name: &apos;First&apos;,
          width: &apos;200px&apos;,
          fieldName: &apos;first&apos;,
        },
        {
          name: &apos;Second&apos;,
          width: &apos;200px&apos;,
          fieldName: &apos;second&apos;,
          editable: true,
        },
        {
          name: &apos;Third&apos;,
          width: &apos;200px&apos;,
          fieldName: &apos;third&apos;,
        },
      ],
    }
&lt;/script&gt;</code>
</pre>
</cdg-sample-section>

<template class="third">
  <cdg-dropdown placeholder="Select an item" header-title="Filter title">
    <cdg-dropdown-option value="1"> Dropdown 1 </cdg-dropdown-option>
    <cdg-dropdown-option value="2"> Dropdown 2 </cdg-dropdown-option>
    <cdg-dropdown-option value="3"> Dropdown 3 </cdg-dropdown-option>
  </cdg-dropdown>
</template>

<template class="first">
  <input type="checkbox" name="first" id="first-input" />
</template>
