cdg-breadcrumbs,
.cdg-breadcrumbs {
  @extend %body3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 12px 0;

  cdg-icon,
  .cdg-icon {
    width: 14px;
    height: 14px;
  }

  a:not([href]) {
    color: var(--primary-color);
    pointer-events: none;
  }

  a[disabled] {
    color: var(--disabled-color);
    pointer-events: none;
    cursor: default;
  }
}
