.cdg-context-menu-container {
  position: fixed;
  z-index: 60;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdg-context-menu-wrapper {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1050;
  display: block;
  pointer-events: auto;
  & > .cdg-dropdown-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}

.cdg-context-menu-content {
  & > * {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  &.show {
    & > * {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}
