@mixin arrowLeft {
  border-left: 8px solid currentColor;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
@mixin arrowRight {
  border-right: 8px solid currentColor;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.cdg-floating-content {
  display: block;
  visibility: hidden;
  transition: visibility 0s, opacity 0.1s linear;
  position: absolute;
  height: 0;
  pointer-events: auto;
  z-index: 60;

  &.hasArrow {
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      clear: both;
      color: var(--background);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid currentColor;
    }

    &.topLeft {
      &::after {
        bottom: 0;
        left: 48px;
        transform: translateY(8px);
      }
    }

    &.top {
      &::after {
        bottom: 0;
        left: 50%;
        transform: translate(-8px, 8px);
      }
    }

    &.topRight {
      &::after {
        bottom: 0;
        right: 48px;
        transform: translateY(8px);
      }
    }

    &.leftTop {
      &::after {
        top: 48px;
        right: -8px;
        border-right: unset;
        @include arrowLeft;
      }
    }

    &.left {
      &::after {
        top: 50%;
        right: -8px;
        transform: translateY(-8px);
        border-right: unset;
        @include arrowLeft;
      }
    }

    &.leftBottom {
      &::after {
        bottom: 48px;
        right: -8px;
        border-right: unset;
        @include arrowLeft;
      }
    }

    &.rightTop {
      &::after {
        top: 48px;
        left: -8px;
        border-left: unset;
        @include arrowRight;
      }
    }

    &.right {
      &::after {
        top: 50%;
        left: -8px;
        transform: translateY(-8px);
        border-left: unset;
        @include arrowRight;
      }
    }

    &.rightBottom {
      &::after {
        bottom: 48px;
        left: -8px;
        border-left: unset;
        @include arrowRight;
      }
    }

    &.bottomLeft {
      &::after {
        top: 0;
        left: 48px;
        transform: translateY(-8px) rotate(180deg);
      }
    }

    &.bottom {
      &::after {
        top: 0;
        left: 50%;
        transform: translate(-8px, -8px) rotate(180deg);
      }
    }

    &.bottomRight {
      &::after {
        top: 0;
        right: 48px;
        transform: translateY(-8px) rotate(180deg);
      }
    }
  }

  &.top {
    transform: translateX(-50%);
  }

  &.left {
    transform: translateY(-50%);
  }

  &.leftBottom {
    transform: translateY(-100%);
  }

  &.right {
    transform: translateY(-50%);
  }

  &.rightBottom {
    transform: translateY(-100%);
  }

  &.bottom {
    transform: translateX(-50%);
  }

  &.bottomRight {
    transform: translateX(-100%);
  }
}

.cdg-floating-content-overlay {
  position: fixed;
  z-index: 60;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdg-floating-content-backdrop {
  opacity: 0;
  visibility: visible;
  transition: visibility 0.1ms linear, opacity 0.1ms linear;
  position: absolute;
  inset: 0;
  z-index: 60;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}
