<p>Buttons communicate actions that users can take to trigger events.</p>

<h3 class="sample-section-title">Usage</h3>
<pre>
  <code class="language-html">&lt;button
    class=&quot;cdg-button {'' | primary | danger | secondary | ghost}&quot;
    size=&quot;{'' | large | small}&quot;
    disabled
    onclick=&quot;alert(&apos;click&apos;)&quot;&gt;
    // Left icon
    &lt;cdg-icon name=&quot;callCenter&quot;&gt;&lt;/cdg-icon&gt;
    Button text
    // Right icon
    &lt;cdg-icon name=&quot;arrowDown&quot;&gt;&lt;/cdg-icon&gt;
    // Or replace everything by
    &lt;cdg-inline-loading size=&quot;small&quot;&gt;&lt;/cdg-inline-loading&gt;
&lt;/button&gt;
</code>
</pre>

<cdg-button-default-section></cdg-button-default-section>

<cdg-button-large-section></cdg-button-large-section>

<cdg-button-small-section></cdg-button-small-section>

<cdg-button-properties-section></cdg-button-properties-section>

<cdg-button-styles-section></cdg-button-styles-section>
