.cdg-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  container-name: CdgForm;
  container-type: inline-size;
}

.cdg-form-row {
  display: flex;
  gap: 24px;
  &.stretch {
    .cdg-input-group {
      flex: 1;
    }
  }
}

.required-mark {
  color: var(--secondary-red);
  margin-left: 4px;
}

.cdg-form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cdg-form-explaination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.cdg-form-section-title {
  @extend %heading5;
}

.cdg-form-section-description {
  @extend %body3;
  color: var(--grey70);
}

.cdg-input {
  appearance: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  @extend %body3;
  font-weight: 600;
  padding: 8px 16px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--background);
  &:focus {
    outline: 2px solid var(--accent);
  }

  &::placeholder {
    color: var(--grey50);
  }

  &[disabled] {
    color: var(--disabled-color);
    background-color: var(--disabled-background);
    cursor: not-allowed;
  }
}

.cdg-input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  &.row {
    flex-direction: row;
  }

  .cdg-datepicker,
  .cdg-dropdown,
  .cdg-input {
    width: 100%;
  }

  .cdg-input-label {
    font-weight: 600;
    @extend %label1;
    color: var(--grey90);
  }

  .cdg-helper-message {
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    color: var(--grey50);
  }

  &.error {
    .cdg-input {
      border-color: var(--danger);
      border-width: 2px;
    }

    .cdg-helper-message {
      color: var(--danger);
    }

    .cdg-input-with-icon {
      cdg-icon,
      .cdg-icon {
        color: var(--danger);
      }

      &:has(.cdg-input:focus) {
        cdg-icon,
        .cdg-icon {
          color: var(--danger);
        }
      }
    }
  }

  &:has(input:disabled) {
    cursor: not-allowed;
    .cdg-input,
    cdg-icon,
    .cdg-icon {
      color: var(--disabled-color);
    }

    .cdg-input {
      background-color: var(--disabled-background);
    }
  }
}

.cdg-textarea {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--background);
  height: 100px;
  padding: 8px 16px;
  appearance: none;
  font-family: var(--font-family);
  color: var(--primary-color);
}

.cdg-datepicker,
.cdg-dropdown,
.cdg-input {
  @extend %formField;
}

.cdg-input-with-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  cdg-icon,
  .cdg-icon {
    position: absolute;
    &:first-child {
      left: 16px;
    }
    &:last-child {
      right: 16px;
    }
    top: 50%;
    transform: translateY(-50%);
  }

  &:focus-within {
    cdg-icon:first-child,
    .cdg-icon:first-child {
      color: var(--accent);
    }
  }

  &.left {
    .cdg-input {
      padding-left: 48px;
    }
  }

  &.right {
    .cdg-input {
      padding-right: 48px;
    }
  }
}

.cdg-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cdg-checkbox {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  &.rounded {
    &::before {
      border-radius: 1.5rem;
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin: 4px;
    width: 16px;
    height: 16px;
    appearance: none;
  }

  span {
    padding-right: 3px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    cursor: none;
  }

  &::before {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    inset: 3px;
  }

  &:focus-within {
    outline: 2px solid var(--blue60);
  }

  &:has(input[type='checkbox']:checked) {
    &::before {
      background-color: var(--accent);
      background-repeat: no-repeat;
      background-position: center;
      border-color: var(--accent);
    }
    &::after {
      width: 8px;
      height: 4px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      left: 7px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }

  &:has(input[type='checkbox']:indeterminate) {
    &::before {
      background-color: var(--accent);
      border-color: var(--accent);
    }

    &::after {
      width: 0.65rem;
      height: 2px;
      background: #ffffff;
      top: 11px;
      left: 7px;
    }
  }

  &:has(input[type='checkbox']:disabled) {
    color: var(--disabled-color);
    &::before {
      border-color: currentColor;
    }
  }

  &:has(input[type='checkbox']:disabled:indeterminate),
  &:has(input[type='checkbox']:disabled:checked) {
    &::before {
      background-color: currentColor;
    }
  }
}

.cdg-radio {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 4px;

  input[type='radio'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin: 4px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    flex-shrink: 0;
    appearance: none;
  }

  span {
    padding-right: 3px;
  }

  &.custom-content {
    padding: 16px;
    flex-shrink: 0;
    flex: 1;
    align-items: stretch;
    &::before {
      left: 16px;
    }
    &::after {
      left: 21px;
    }
    .radio-content {
      display: flex;
      flex-direction: column;
    }
    .radio-title {
      font-weight: 600;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    cursor: none;
  }

  &::after {
    top: 50%;
    left: 8px;
    width: 8px;
    height: 8px;
    transform: scale(0) translateY(-50%);
    border-radius: 4px;
    background-color: var(--accent);
  }

  &::before {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1.5rem;
    inset: 3px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:focus-within {
    outline: 2px solid var(--blue60);
  }

  &:has(input[type='radio']:checked) {
    &::before {
      border-color: var(--accent);
    }
    &::after {
      transform: scale(1) translateY(-50%);
    }
  }

  &:has(input[type='radio']:disabled) {
    color: var(--disabled-color);
    &::before {
      border-color: currentColor;
    }
    &::after {
      background-color: currentColor;
    }
  }
}

.cdg-toggle {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 4px;

  input[type='checkbox'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin: 4px;
    width: 32px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
  }

  span {
    padding-right: 3px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    cursor: none;
    top: 50%;
    transform: translateY(-50%);
    @extend %quickSmoothTransition;
  }

  &::before {
    left: 4px;
    width: 2rem;
    height: 1rem;
    border: 1px solid var(--grey70);
    border-radius: 1rem;
    background-color: var(--grey70);
    background-repeat: no-repeat;
    background-position: center;
    border-color: var(--grey70);
  }

  &::after {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    left: 7px;
    background-color: #ffffff;
  }

  &.large {
    input[type='checkbox'] {
      width: 40px;
      height: 24px;
    }
    &::before {
      width: 40px;
      height: 24px;
    }
    &::after {
      width: 20px;
      height: 20px;
    }
  }

  &:focus-within {
    outline: 2px solid var(--blue60);
  }

  &:has(input[type='checkbox']:checked) {
    &::before {
      background-color: var(--success);
      border-color: var(--success);
      @extend %quickSmoothTransition;
    }

    &::after {
      left: 23px;
      @extend %quickSmoothTransition;
    }
  }

  &:has(input[type='checkbox']:disabled) {
    color: var(--disabled-color);
    &::before {
      border-color: var(--disabled-background);
      background-color: var(--disabled-background);
    }
  }

  &:has(input[type='checkbox']:disabled:checked) {
    &::before {
      border-color: var(--status-success-background);
      background-color: var(--status-success-background);
    }
  }
}
