.cdg-container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding-left: 64px;
  padding-right: 64px;
  box-sizing: border-box;
}

.cdg-toolbar,
.cdg-left-group,
.cdg-center-group,
.cdg-right-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cdg-toolbar {
  justify-content: space-between;
  width: 100%;
  .cdg-input {
    height: 35px;
  }
  &[raised] {
    box-shadow: var(--shadow-depth-04);
    padding: 12px 16px;
  }

  .cdg-show-on-selected {
    display: none;
  }

  &.selected {
    .cdg-hide-on-selected {
      display: none;
    }
    .cdg-show-on-selected {
      display: flex;
    }
  }
}

.cdg-left-group {
  display: flex;
}

.cdg-center-group {
  flex: 1;
  justify-content: center;
}

.cdg-right-group {
  display: flex;
}

.cdg-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  container-name: CardGrid;
  container-type: inline-size;

  &.columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cdg-card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--grey100);

  &[horizontal] {
    flex-direction: row;
    cdg-card-body,
    .cdg-card-body {
      padding-left: 2rem;
      padding-top: 1rem;
    }

    .cdg-card-header {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &[transparent] {
    background: transparent;
  }

  &.article-card {
    .cdg-card-cover {
      flex: 1;
    }

    .cdg-card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .cdg-card-title {
      @extend %heading2;
    }
  }

  &.raised {
    box-shadow: var(--shadow-01), var(--shadow-02);
  }

  &:focus {
    outline-color: var(--accent);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--disabled-color);
    background: var(--grey20);
    .cdg-card-body {
      color: var(--disabled-color);
    }

    .cdg-card-cover {
      opacity: 0.7;
    }
  }
  &.cdg-has-float-content {
    position: relative;
    border-radius: 16px;

    .cdg-card-cover {
      height: 100%;
    }

    .cdg-card-float-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.71) 100%
      );
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding: 32px 0;
      gap: 12px;
    }

    .cdg-card-body {
      color: #ffffff;
    }

    .cdg-card-time {
      padding: 60px 40px 0 40px;
    }

    .cdg-card-header {
      padding: 0 40px;
      .cdg-card-title {
        @extend %heading2;
      }
    }

    .cdg-card-body {
      padding: 0 40px;
    }

    .cdg-card-actions {
      padding: 0 20px 0 40px;

      .cdg-button {
        color: #ffffff;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-color: transparent;
        }
      }
    }
  }
}

.cdg-card-time {
  @extend %body3;
}

.cdg-card-header {
  padding: 1rem;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  .cdg-button.icon {
    background: var(--grey10);
  }
  &:first-child:only-child,
  &:last-child {
    padding-bottom: 1rem;
  }
}

.cdg-card-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  flex: 1;
}

.cdg-card-body {
  flex: 1;
  padding: 1rem;
  color: var(--grey80);
  &:not(:first-child) {
    padding-top: 0;
  }
  &:not(:last-child) {
    padding-bottom: 12px;
  }
}

.cdg-card-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.75rem;
  &:not(:first-child) {
    padding-top: 0;
  }
}

.cdg-card-cover {
  display: flex;
  &[rounded] {
    border-radius: 8px;
    overflow: hidden;
  }

  &[square] {
    aspect-ratio: 1;
  }
}

.cdg-card-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cdg-page-title {
  display: flex;
  align-items: center;
  gap: 12px;
  @extend %heading3;
  color: var(--grey110);
  small {
    @extend %label1;
    color: var(--grey70);
    font-weight: 400;
  }
}

.cdg-page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cdg-page-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.cdg-sub-header-actions,
.cdg-page-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reverse-blue {
  --primary-color: #ffffff;
  --disabled-color: #777777;
  --grey110: #cccccc;
  &.cdg-page-header {
    background: var(--accent);
  }

  .cdg-icon,
  a {
    color: var(--grey70);
  }

  .cdg-button {
    background: #ffffff;
    color: var(--accent);
  }

  .cdg-button.secondary {
    background: transparent;
    color: var(--primary-color);
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.cdg-sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cdg-sub-header-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cdg-sub-header-title {
  margin: 0;
  color: var(--grey100);
  font-weight: 600;
  @extend %body2;
}

.cdg-sub-header-description {
  color: var(--grey70);
  margin: 0;
  @extend %body3;
}

.cdg-separator {
  flex: 1;
}

.cdg-divider {
  border-bottom: 1px solid var(--border-color);
  &.vertical {
    border-bottom: none;
    border-right: 1px solid var(--border-color);
  }
}

.cdg-flex {
  flex: 1;
}

.cdg-layout {
  display: flex;
  &.as-column {
    flex-direction: column;
  }

  &.align-start-start {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.align-center-start {
    align-items: center;
    justify-content: flex-start;
  }

  &.align-end-start {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &.align-start-center {
    align-items: flex-start;
    justify-content: center;
  }

  &.align-center-center {
    align-items: center;
    justify-content: center;
  }

  &.align-end-center {
    align-items: flex-end;
    justify-content: center;
  }

  &.align-start-end {
    align-items: flex-start;
    justify-content: flex-end;
  }

  &.align-center-end {
    align-items: center;
    justify-content: flex-end;
  }

  &.align-end-end {
    align-items: flex-end;
    justify-content: flex-end;
  }

  &.stretch {
    align-items: stretch;
  }
}

.grid-3-columns {
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  justify-content: space-between;
  & > * {
    width: calc(100% / 3 - 32px);
  }
}

.cdg-card-blogs {
  .cdg-card-cover {
    aspect-ratio: 4/3;
    img {
      border-radius: 8px;
    }
  }
}

.cdg-card-blog-category {
  font-weight: 600;
  @extend %body3;
  color: var(--info);
  margin-top: 8px;
}

.cdg-card-blog-title {
  @extend %heading2;
  color: var(--grey-shades-80);
}

.cdg-card-blog-date {
  font-weight: 400;
  @extend %label2;
  color: var(--grey-shades-80);
  margin-top: 4px;
}

cdg-carousel,
.cdg-carousel {
  .cdg-layout {
    &.align-start-center {
      text-align: center;
    }

    &.align-center-center {
      text-align: center;
    }

    &.align-end-center {
      text-align: center;
    }

    &.align-start-end {
      text-align: right;
    }

    &.align-center-end {
      text-align: right;
    }

    &.align-end-end {
      text-align: right;
    }
  }
}

.cdg-contains-gutter {
  position: relative;
  // @extend %smoothTransition;
  * {
    flex-shrink: 0;
  }
}

.cdg-gutter {
  width: 12px;
  position: absolute;
  right: -6px;
  top: 0;
  bottom: 0;
  touch-action: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    width: 2px;
    background-color: transparent;
    @extend %smoothTransition;
  }

  &:hover {
    cursor: col-resize;
    &::after {
      background-color: var(--accent);
      @extend %smoothTransition;
    }

    .cdg-button {
      opacity: 1;
      @extend %smoothTransition;
    }
  }

  &[place='left'] {
    right: auto;
    left: -6px;
    &::after {
      top: 0;
      bottom: 0;
      left: 4px;
    }

    .cdg-icon {
      transform: rotate(180deg);
    }

    &.collapsed {
      .cdg-icon {
        transform: rotate(0deg);
      }
    }
  }

  &.collapsed {
    .cdg-icon {
      transform: rotate(180deg);
    }

    .cdg-button {
      opacity: 1;
    }
  }

  .cdg-button {
    position: absolute;
    top: 20px;
    left: -8px;
    z-index: 1;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: var(--background);
    box-shadow: var(--shadow-depth-04);
    opacity: 0;
    @extend %smoothTransition;
    &[size='small'].icon {
      padding: 5px;
    }
  }

  .cdg-icon {
    pointer-events: none;
  }
}
