cdg-toolbar,
.cdg-toolbar,
cdg-left-group,
.cdg-left-group,
cdg-center-group,
.cdg-center-group,
cdg-right-group,
.cdg-right-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

cdg-toolbar,
.cdg-toolbar {
  width: 100%;
  .cdg-input {
    height: 35px;
  }
  &[raised] {
    box-shadow: var(--shadow-depth-04);
    padding: 12px 16px;
  }
}

cdg-left-group,
.cdg-left-group {
  display: flex;
}

cdg-center-group,
.cdg-center-group {
  flex: 1;
  justify-content: center;
}

cdg-right-group,
.cdg-right-group {
  display: flex;
}

cdg-card,
.cdg-card {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--grey100);

  &.raised {
    box-shadow: var(--shadow-01), var(--shadow-02);
  }
  &:focus {
    outline-color: var(--accent);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--disabled-color);
    background: var(--grey20);
    cdg-card-body,
    .cdg-card-body {
      color: var(--disabled-color);
    }
  }
}

cdg-card-header,
.cdg-card-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 12px;
  .cdg-button.icon {
    background: var(--grey10);
  }
}

.cdg-card-title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  flex: 1;
}

cdg-card-body,
.cdg-card-body {
  flex: 1;
  padding: 1rem;
  color: var(--grey80);
  &:not(:first-child) {
    padding-top: 0;
  }
}

cdg-card-actions,
.cdg-card-actions {
  display: flex;
  padding: 1rem;
  gap: 0.75rem;
  &:not(:first-child) {
    padding-top: 0;
  }
}

cdg-card-cover,
.cdg-card-cover {
  display: flex;
}

.cdg-card-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

cdg-page-title,
.cdg-page-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--grey110);
  small {
    font-size: 14px;
    line-height: 21px;
    color: var(--grey70);
    font-weight: 400;
  }
}

cdg-page-header,
.cdg-page-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 48px;
}

cdg-page-header-row,
.cdg-page-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.cdg-sub-header-actions,
cdg-page-actions,
.cdg-page-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reverse-blue {
  --primary-color: #ffffff;
  --disabled-color: #777777;
  --grey110: #cccccc;
  &cdg-page-header,
  &.cdg-page-header {
    background: var(--accent);
  }

  cdg-icon,
  .cdg-icon,
  a {
    color: var(--grey70);
  }

  cdg-button,
  .cdg-button {
    background: #ffffff;
    color: var(--accent);
  }

  cdg-button.secondary,
  .cdg-button.secondary {
    background: transparent;
    color: var(--primary-color);
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

cdg-sub-header,
.cdg-sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cdg-sub-header-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cdg-sub-header-title {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--grey100);
}

.cdg-sub-header-description {
  color: var(--grey70);
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.cdg-separator {
  flex: 1;
}

cdg-divider,
.cdg-divider {
  border-bottom: 1px solid var(--border-color);
  &.vertical {
    border-bottom: none;
    border-right: 1px solid var(--border-color);
  }
}

.cdg-flex {
  flex: 1;
}

.cdg-layout {
  display: flex;
  &.as-column {
    flex-direction: column;
  }

  &.align-start-start {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.align-center-start {
    align-items: center;
    justify-content: flex-start;
  }

  &.align-end-start {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &.align-start-center {
    align-items: flex-start;
    justify-content: center;
  }

  &.align-center-center {
    align-items: center;
    justify-content: center;
  }

  &.align-end-center {
    align-items: flex-end;
    justify-content: center;
  }

  &.align-start-end {
    align-items: flex-start;
    justify-content: flex-end;
  }

  &.align-center-end {
    align-items: center;
    justify-content: flex-end;
  }

  &.align-end-end {
    align-items: flex-end;
    justify-content: flex-end;
  }

  &.stretch {
    align-items: stretch;
  }
}

cdg-carousel,
.cdg-carousel {
  .cdg-layout {
    &.align-start-center {
      text-align: center;
    }

    &.align-center-center {
      text-align: center;
    }

    &.align-end-center {
      text-align: center;
    }

    &.align-start-end {
      text-align: right;
    }

    &.align-center-end {
      text-align: right;
    }

    &.align-end-end {
      text-align: right;
    }
  }
}
