@media screen and (max-width: 767px) {
  .cdg-nav-rail.auto-collapse {
    width: 0;
    &:hover .cdg-nav-rail-inner,
    .cdg-nav-rail-inner {
      width: 0;
      border: none;
    }
    &[open] {
      .cdg-nav-rail-inner {
        width: 270px;
      }
    }
  }

  // Small slider
  .cdg-carousel-navigation {
    display: none;
  }

  .cdg-promotion-title {
    font-size: var(--heading1);
    line-height: var(--line-height-heading1);
  }

  .cdg-promotion-description {
    font-size: var(--label1);
    line-height: var(--line-height-label1);
  }

  .cdg-promotion-container {
    inset: 36px;
    .cdg-button {
      font-size: 12px;
      line-height: 18px;
      padding: 4px 10px;

      &.icon {
        padding: 6px 7px;
        cdg-icon,
        .cdg-icon {
          width: 16px;
          height: 16px;
        }
      }

      cdg-icon,
      .cdg-icon {
        width: 14px;
        height: 14px;
      }

      .cdg-inline-loading {
        padding: 0;
      }
    }
  }

  .cdg-carousel-controllers {
    bottom: 32px;
    left: 32px;
    right: 32px;
  }

  .cdg-post-actions {
    flex-direction: column;
  }

  .cdg-post-section-title {
    font-size: var(--heading4);
    line-height: var(--line-height-heading4);
  }

  .cdg-blog-post,
  .cdg-card-blog-title {
    font-size: var(--heading5);
    line-height: var(--line-height-heading5);
  }

  cdg-card,
  .cdg-card {
    .cdg-card-blog-date,
    .cdg-card-blog-category {
      font-size: 10px;
      line-height: 16px;
    }

    &.article-card .cdg-card-title,
    &.article-card .cdg-card-title {
      font-size: var(--heading5);
      line-height: var(--line-height-heading5);
    }
  }

  .cdg-card-section {
    cdg-card-cover,
    .cdg-card-cover {
      flex: 1;
    }
  }

  .cdg-card-grid {
    grid-template-columns: repeat(2, 1fr);
    &.columns-4 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  cdg-page-header-row,
  .cdg-page-header-row {
    flex-direction: column;
    align-items: flex-start;
  }
  cdg-page-title,
  .cdg-page-title {
    flex-wrap: wrap;
  }

  .cdg-nav-rail.auto-collapse[open][use-overlay]::before {
    background-color: var(--modal-overlay);
  }

  .cdg-timeline-header {
    gap: 12px;
  }

  .cdg-timeline-group .cdg-timeline-card {
    margin-left: 38px;
  }

  .cdg-timeline[zigzag]
    .cdg-timeline-group:nth-child(2n + 1)
    .cdg-timeline-card,
  .cdg-timeline[reverse] .cdg-timeline-group .cdg-timeline-card {
    margin-left: 0;
    margin-right: 38px;
  }

  .cdg-timeline-title-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .cdg-timeline-card-action {
    font-size: var(--label2);
    line-height: var(--line-height-label2);
  }

  .cdg-timeline-card {
    padding: 12px;
  }

  .cdg-timeline-card-header {
    .cdg-avatar {
      width: 32px;
      height: 32px;
    }
  }
}

@media screen and (max-width: 479px) {
  .cdg-promotion-title {
    font-size: 18px;
    line-height: 22px;
  }

  .cdg-promotion-description {
    font-size: 12px;
  }

  .cdg-promotion-actions {
    margin-top: 12px;
    gap: 12px;
  }

  .cdg-carousel-controllers {
    bottom: 16px;
    left: 12px;
    right: 12px;
  }

  .cdg-promotion-container {
    inset: 12px;
  }

  cdg-dialog,
  .cdg-dialog {
    width: auto;
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 80px);
  }

  cdg-modal,
  .cdg-modal {
    width: auto;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 80px);
  }

  cdg-modal-actions.multiple,
  .cdg-modal-actions.multiple {
    flex-direction: column;
    padding: 0;
    gap: 0;
    .cdg-button {
      border-radius: 0;
      padding: 12px 16px;
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  cdg-rating .cdg-button.rating,
  .cdg-rating .cdg-button.rating {
    width: 50px;
    height: 50px;
  }

  .cdg-list-item {
    padding: 12px;
    gap: 12px;
    &[allow-drag] {
      padding-left: 32px;
    }
  }

  .cdg-list-draggable-icon {
    left: 10px;
  }

  .cdg-list-item-button {
    font-size: 12px;
  }

  .cdg-list-item-title {
    font-size: var(--heading5);
    line-height: var(--line-height-heading5);
  }

  .cdg-list-item-description {
    font-size: 12px;
  }

  .cdg-toast-container {
    left: 0;
    right: 0;
    padding: 16px;
  }

  cdg-toast,
  .cdg-toast {
    width: 100%;
  }

  .cdg-blog-slide-title {
    font-size: 22px;
    line-height: 28px;
  }

  .cdg-blog-slide-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 21px;
  }

  .cdg-card-grid {
    grid-template-columns: repeat(1, 1fr);
    &.columns-4 {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .cdg-carousel[cards] .cdg-slide {
    padding: 0 24px;
  }

  cdg-card,
  .cdg-card {
    &:has(.cdg-card-float-content) {
      cdg-card-body,
      .cdg-card-body {
        padding: 0 12px;
      }

      cdg-card-actions,
      .cdg-card-actions {
        padding: 0 20px;
      }
    }
  }

  cdg-timeline,
  .cdg-timeline {
    &[zigzag] {
      cdg-timeline-group,
      .cdg-timeline-group {
        margin-left: unset;
        &:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: unset;
        }
      }
    }
  }
}

@container CardGrid (max-width: 768px) {
  .cdg-card-blog-title {
    font-size: var(--heading5);
    line-height: var(--line-height-heading5);
  }
}

@container CardGrid (max-width: 479px) {
  .cdg-blog-slide-title {
    font-size: 22px;
    line-height: 28px;
  }
}

@container CdgForm (max-width: 768px) {
  .cdg-form-row {
    flex-direction: column;
  }
}

@container CdgForm (max-width: 479px) {
}
