@mixin darkColors {
  --background: #101010;
  --revese-color: #323130;
  --accent: #0142af;
  --danger: #cb2028;
  --error: #d83b01;
  --secondary-red: #e31617;
  --info: #009eda;
  --success: #15aa15;
  --warning: #efb01d;
  --grey10: #191919;
  --grey20: #212121;
  --grey30: #313131;
  --grey40: #444444;
  --grey50: #555555;
  --grey60: #666666;
  --grey70: #777777;
  --grey80: #888888;
  --grey90: #999999;
  --grey100: #cccccc;
  --grey110: #dddddd;
  --grey120: #c8c6c4;
  --blue10: #1a1f27;
  --blue20: #2a3850;
  --blue60: #678ecf;
  --blue80: #3468bf;
  --danger-hover-background: #1e191a;
  --accent-darker: #012158;
  --color-week-day: #ffffff;
  --hover-background: #191c21;
  --primary-color: #ffffff;
  --table-head-background: #444343;
  --darker-background: #1c1e1e;
  --card-title-background: #090909;
  --modal-action-background: #151515;
  --tag-box-background: #212121;
  --disabled-color: #444343;
  --disabled-background: #212121;
  --info-background: #ccecf8;
  --secondary-background: #191919;
  --border-color: #2c2b2b;
  --status-info-background: #0b3545;
  --status-success-background: #274624;
  --status-error-background: #4d1b20;
  --status-warning-background: #493a15;
  --modal-overlay: rgba(0, 0, 0, 0.4);
  --shadow-01: 0px 0.3px 0.9px rgba(255, 255, 255, 0.05);
  --shadow-02: 0px 1.6px 3.6px rgba(255, 255, 255, 0.08);
  --shadow-03: 0px 0.6px 1.8px rgba(255, 255, 255, 0.1),
    0px 3.2px 7.2px rgba(255, 255, 255, 0.13);
  --shadow-04: 0px 2px 4px rgba(255, 255, 255, 0.08);
}

:root {
  --background: #ffffff;
  --revese-color: #ffffff;
  --accent: #0142af;
  --danger: #a4262c;
  --error: #d83b01;
  --secondary-red: #e31617;
  --info: #009eda;
  --success: #107c10;
  --warning: #95711f;
  --grey10: #faf9f8;
  --grey20: #f3f2f1;
  --grey30: #edebe9;
  --grey40: #e1dfdd;
  --grey50: #d2d0ce;
  --grey60: #c8c6c4;
  --grey70: #a19f9d;
  --grey80: #605e5c;
  --grey90: #3b3a39;
  --grey100: #333333;
  --grey110: #201f1e;
  --grey120: #666666;
  --grey-shades-80: #3e3e3e;
  --blue10: #e6ecf7;
  --blue20: #ccd9ef;
  --blue60: #678ecf;
  --blue80: #3468bf;
  --date-picker-icon: #8a8886;
  --placeholder: #b4b4b4;
  --dropdown-menu-text: #b4b4b4;
  --danger-hover-background: #efd9db;
  --accent-darker: #012158;
  --color-week-day: #012158;
  --hover-background: #e6ecf7;
  --primary-color: #323130;
  --table-head-background: #f5f5f6;
  --darker-background: #eaebeb;
  --card-title-background: #f5f5f6;
  --modal-action-background: #f5f5f6;
  --tag-box-background: #f5f5f6;
  --disabled-color: #d2d0ce;
  --disabled-background: #edebe9;
  --info-background: #ccecf8;
  --secondary-background: #f0f0f0;
  --border-color: #edebe9;
  --border-color-dropdown: #e6e6e6;
  --status-info-background: #ccecf8;
  --status-success-background: #d1e8cf;
  --status-error-background: #efd9db;
  --status-warning-background: #f8db96;
  --modal-overlay: rgba(0, 0, 0, 0.4);
  --shadow-01: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1);
  --shadow-02: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  --shadow-03: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
    0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
  --shadow-depth-04: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  --shadow-depth-08: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
    0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
  --shadow-depth-16: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  --shadow-04: 0px 2px 4px rgba(0, 0, 0, 0.08);
  --font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  // spacing
  --spacing-0_5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1_5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2_5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3_25: 0.8125rem;
  --spacing-3_5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-4_25: 1.0625rem;
  --spacing-4_5: 1.125rem;
  //font
  --bold: 700;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkColors;
  }
}

html,
body {
  font-family: var(--font-family);
  color: var(--primary-color);
  background: var(--background);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  &.dark {
    @include darkColors;
  }
}

a {
  color: var(--info);
  text-decoration: none;
}
