@import './placeholders';

@import './style';
@import '../components/index';
@import '../layouts/index';
@import '../form-controls/index';
@import './controls';
@import './layouts';
@import './forms';
@import './service-menu';
@import './blog';
@import './large';
@import './medium';
@import './small';
@import './animate';
