cdg-tabs,
.cdg-tabs {
  padding: 8px;
  display: inline-flex;
  gap: 8px;
  border-radius: 32px;
  background: var(--background);
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--accent);
  user-select: none;
}

a.cdg-tab {
  color: var(--accent);
}

cdg-tab,
.cdg-tab {
  padding: 8px 16px;
  display: inline-flex;
  gap: 8px;
  border-radius: 32px;
  cursor: pointer;
  @extend %smoothTransition;

  &:hover {
    background: var(--hover-background);
    @extend %smoothTransition;
  }
  &[activated] {
    color: #ffffff;
    background: var(--accent);
    &:hover {
      background: var(--accent-darker);
    }
  }

  &[activated][disabled],
  &[disabled] {
    cursor: not-allowed;
    color: var(--disabled-color);
    background: transparent;
    &:hover {
      color: var(--disabled-color);
      background: transparent;
    }
  }

  &[activated][disabled]:hover,
  &[activated][disabled] {
    background: var(--disabled-background);
  }
}
