.cdg-table {
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  width: 100%;
  table-layout: fixed;
  border: 1px solid var(--border-color);

  &.auto-layout {
    table-layout: auto;
  }

  .cdg-table-cell.cdg-table-cell-checkbox {
    display: none;
  }

  &[checkable] {
    .cdg-table-cell.cdg-table-cell-checkbox {
      display: table-cell;
      padding: 0;
      width: 56px;
      .cdg-table-checkbox-contaner {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.cdg-table-header-button {
  width: 100%;
  padding: 16px 12px;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-radius: 0;
  &:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
}

.cdg-table-sort-arrows {
  display: flex;
  flex-direction: column;
}

.cdg-table-sort-arrow {
  color: var(--grey30);
}

/* table */
.cdg-table-container {
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  width: 100%;
  table-layout: fixed;
  border: 1px solid var(--border-color);
}

.cdg-table-toolbar {
  display: flex;
  justify-content: space-between;

  .cdg-table-toolbar-left {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .cdg-table-toolbar-right {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

/* thead */
.cdg-table-head {
  background-color: var(--table-head-background);
  display: table-header-group;
  vertical-align: middle;
}

/* tr-th */
.cdg-table-head-row {
  display: table-row;
  vertical-align: inherit;
  background: var(--table-head-background);
}

/* th */
.cdg-table-head-cell {
  padding: 16px 12px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: 600;
  text-align: left;
  position: relative;
  font-size: var(--spacing-3_5);
  text-transform: capitalize;
  box-sizing: border-box;
  border: 1px solid;

  &[sortable] {
    padding: 0;
    .cdg-table-head-cell-content {
      padding: 16px 12px;
    }
  }

  &.asc {
    .cdg-table-sort-arrow {
      &.asc {
        color: var(--grey90);
      }
    }
  }

  &.desc {
    .cdg-table-sort-arrow {
      &.desc {
        color: var(--grey90);
      }
    }
  }
}

.cdg-table-head-cell-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  > * {
    cursor: pointer;
  }
}

.cdg-table-head-cell-text {
  flex: 1;
  color: var(--grey100);
  font-weight: 600;
  @extend %body3;
  &.has-sorting {
    padding-right: 24px;
  }

  &.text-center {
    text-align: center;
  }
  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
}

.cdg-table-head-cell-sorting {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
}
.cdg-table-head-cell-icon {
  padding: 0;
  &.asc {
    margin-bottom: -3px;
  }
  &.desc {
    margin-top: -3px;
  }
  color: #e6e6e6;
  &.cdg-sort-active {
    color: #3b3a39;
  }
}

/* tbody */
.cdg-table-body {
  background: var(--background);
  display: table-row-group;
  vertical-align: middle;
}

/* tr */
.cdg-table-row {
  display: table-row;
  vertical-align: inherit;
  background: var(--background);
  background-color: transparent;
  transition: all 250ms ease;

  &:has(input[type='checkbox']:checked),
  &[checked] {
    background-color: var(--blue10);
    border-left: 1px solid var(--accent);
  }

  &:hover {
    background-color: var(--hover-background);
  }

  &.cdg-table-head-row:has(input[type='checkbox']:checked),
  &.cdg-table-head-row:hover {
    background-color: transparent;
    border-color: var(--border-color);
  }
}

.cdg-table-cell,
.cdg-table-head-cell {
  &[align='center'],
  &.text-center {
    text-align: center;
  }

  &[align='left'],
  &.text-left {
    text-align: left;
  }

  &[align='right'],
  &.text-right {
    text-align: right;
  }
  &.editable {
    cursor: text;
  }
  // &.editable-template {
  //   cursor: pointer;
  // }
}

/* td */
.cdg-table-cell {
  padding: 8px;
  text-align: left;
  display: table-cell;
  vertical-align: inherit;
  font-size: var(--spacing-3_5);
  padding: var(--spacing-3_5) var(--spacing-3);
}

.cdg-table-footer {
  display: flex;
  justify-content: space-between;

  .cdg-table-footer-left,
  .cdg-table-footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .cdg-table-toolbar {
    flex-direction: column;
    gap: 16px;
  }
  .cdg-table-footer {
    flex-direction: column;
    gap: 16px;
    .cdg-table-footer-left {
      justify-content: center;
    }
    .cdg-table-footer-right {
      flex-direction: column;
      gap: 16px;
    }
  }
}
