footer.cdg-footer-section {
  display: flex;
  flex-direction: column;
  gap: 56px;
  color: var(--grey100);
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--background);
  container-name: CdgFooter;
  container-type: inline-size;
  .zig-logo {
    color: var(--accent);
  }

  // This mode will not changes color when switch to dark or light theme
  &.primary,
  &.reverse {
    background-color: #333333;
    color: #ffffff;
    .zig-logo {
      color: #ffffff;
    }

    cdg-button.link,
    .cdg-button.link,
    .cdg-footer-connect .cdg-socials-group a,
    .cdg-footer-links a,
    .cdg-footer-column a {
      color: #ffffff;
    }
  }

  &.primary {
    background-color: var(--accent);
  }

  .mobile-language {
    display: none;
  }
}

.cdg-footer-nav {
  display: flex;
  gap: 32px;
}

.cdg-footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h5 {
    margin: 0;
    text-transform: uppercase;
    @extend %heading5;
  }
  a {
    @extend %body3;
    color: var(--grey70);
  }
}

cdg-footer,
.cdg-footer {
  font-weight: 600;
  @extend %body3;
  display: flex;
  justify-content: space-between;
  .cdg-copyright {
  }
  .cdg-footer-links {
    display: flex;
    gap: 16px;
    a {
      color: var(--primary-color);
    }
  }
}

.cdg-foot-logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cdg-footer-connect {
  display: flex;
  .cdg-socials-group {
    display: flex;
    gap: 16px;
    a {
      color: var(--grey100);
    }
  }
  .left-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .cdg-address {
    font-weight: 600;
    @extend %body3;
  }
  .app-download {
    display: flex;
    gap: 24px;
  }
}

@container CdgFooter (max-width: 960px) {
  .cdg-footer-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 56px;
  }
}

@container CdgFooter (max-width: 480px) {
  .cdg-footer-nav {
    display: none;
  }

  footer.cdg-footer-section .cdg-button.link.mobile-language {
    display: inline-flex;
    justify-content: start;
  }

  footer.cdg-footer-section.reverse .cdg-button.link.mobile-language {
    color: #ffffff;
  }

  .cdg-footer-connect {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  cdg-footer,
  .cdg-footer {
    flex-direction: column;
    gap: 24px;
  }

  .cdg-footer-links {
    gap: 24px;
  }

  .app-download {
    flex-direction: column;
  }

  .cdg-foot-logo-row .cdg-button.link {
    display: none;
  }
  .cdg-foot-logo-row {
    justify-content: center;
  }
}
