cdg-timeline-card,
.cdg-timeline-card {
  border: 1px solid var(--border-color);
  background-color: var(--background);
  padding: 16px;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  @extend %body3;
  gap: 12px;
}

cdg-timeline-card-header,
.cdg-timeline-card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cdg-timeline-card-name {
  font-weight: 700;
}

.cdg-timeline-card-action {
  color: var(--grey70);
}

cdg-timeline-card-time,
.cdg-timeline-card-time {
  color: var(--grey80);
  display: flex;
  align-items: center;
  gap: 10px;
}

cdg-timeline-card-body,
.cdg-timeline-card-body {
  font-weight: 600;
}

cdg-timeline-group,
.cdg-timeline-group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 16px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 6px;
    bottom: 0;
    width: 1px;
    background-color: var(--border-color);
  }

  cdg-timeline-card,
  .cdg-timeline-card {
    margin-left: 50px;
  }
}

.cdg-timeline-header-icon {
  display: inline-block;
  padding: 5px;
  line-height: 0;
  background: var(--accent);
  color: #ffffff;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

cdg-timeline-header,
.cdg-timeline-header {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 700;
}

cdg-timeline,
.cdg-timeline {
  display: flex;
  flex-direction: column;
  overflow: auto;

  cdg-timeline-group,
  .cdg-timeline-group {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &[reverse] {
    cdg-timeline-header,
    .cdg-timeline-header {
      flex-direction: row-reverse;
    }

    cdg-timeline-group,
    .cdg-timeline-group {
      cdg-timeline-card,
      .cdg-timeline-card {
        margin-left: 0;
        margin-right: 50px;
      }

      &::before {
        left: auto;
        right: 12px;
      }
    }
  }

  &[zigzag] {
    cdg-timeline-group,
    .cdg-timeline-group {
      margin-left: calc(50% - 12px);
      &:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: calc(50% - 12px);
        &::before {
          left: auto;
          right: 12px;
        }
        cdg-timeline-header,
        .cdg-timeline-header {
          flex-direction: row-reverse;
        }
        cdg-timeline-card,
        .cdg-timeline-card {
          margin-left: 0;
          margin-right: 50px;
        }
      }
    }
  }

  &[horizontal] {
    flex-direction: row;
    cdg-timeline-header,
    .cdg-timeline-header {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 8px;
    }

    cdg-timeline-group,
    .cdg-timeline-group {
      padding-left: 40px;
      padding-bottom: 0;

      &::before {
        top: 45px;
        left: 0;
        width: auto;
        height: 1px;
        right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }

    cdg-timeline-card,
    .cdg-timeline-card {
      margin-left: 0;
    }

    &[reverse] {
      cdg-timeline-header,
      .cdg-timeline-header {
        flex-direction: column;
      }

      cdg-timeline-group,
      .cdg-timeline-group {
        justify-content: flex-end;
        &::before {
          top: auto;
          left: 0;
          width: auto;
          height: 1px;
          right: 0;
          bottom: 45px;
        }
      }
    }
  }
}
