<style>
  @media screen and (max-width: 767px) {
    .carousel-demo-properties .guideline-section .cdg-table {
      table-layout: fixed;
    }
  }
</style>

<p>Carousels are used to display promotions.</p>

<cdg-carousel-images-section></cdg-carousel-images-section>

<cdg-carousel-promotion-section></cdg-carousel-promotion-section>

<cdg-carousel-cards-section></cdg-carousel-cards-section>

<cdg-carousel-cards-central-section></cdg-carousel-cards-central-section>

<cdg-carousel-floatting-content-section></cdg-carousel-floatting-content-section>

<cdg-carousel-mobile-section></cdg-carousel-mobile-section>

<cdg-carousel-any-content-section></cdg-carousel-any-content-section>

<cdg-carousel-properties-section
  class="carousel-demo-properties"
></cdg-carousel-properties-section>

<section class="cdg-sample-section" style="margin-top: 36px">
  <h3 class="sample-section-title">Known issues</h3>
  <ul>
    <li>
      When number of slides less than 3 (1 or 2), the animation may not smooth
      because of not enough items.
    </li>
    <li>
      Currently, we don't support to switch number of slides on one single page
      for responsive.
    </li>
  </ul>
</section>
