<cdg-sample-section name="Editable table">
  <div class="sample-section column">
    <table id="sampleEditableTable" is="cdg-table"></table>
    <input
      id="description"
      class="cdg-input cdg-table-editable-cell"
      placeholder="Type something..."
    />
    <input
      id="age"
      class="cdg-input cdg-table-editable-cell"
      type="number"
      placeholder="Type something..."
    />
  </div>

  <pre>
  <code class="language-html">&lt;table id=&quot;sampleEditableTable&quot; is=&quot;cdg-table&quot;&gt;&lt;/table&gt;
      &lt;input 
        id=&quot;description&quot;
        class=&quot;cdg-input cdg-table-editable-cell&quot;
        placeholder=&quot;Type something...&quot;
      /&gt;
      &lt;input
        id=&quot;age&quot;
        class=&quot;cdg-input cdg-table-editable-cell&quot;
        type=&quot;number&quot;
        placeholder=&quot;Type something...&quot;
      /&gt;
&lt;script&gt;
    this.thirdColumnTemplate = document.getElementById('description')
    this.secondColumnTemplate = document.getElementById('age')
    this.thirdColumnTemplate.style.display = 'none'
    this.secondColumnTemplate.style.display = 'none'
    const table = this.querySelector('#sampleEditableTable')
    table.options = {
      columns: [
        {
          name: 'Gender',
          width: 'auto',
          fieldName: 'gender',
        },
        {
          name: 'Age',
          width: 'auto',
          fieldName: 'age',
          colummTemplate: this.secondColumnTemplate,
        },
        {
          name: 'Description',
          width: 'auto',
          fieldName: 'description',
          colummTemplate: this.thirdColumnTemplate,
        },
      ],
      onEditCellStart: (e) =&gt; {
        const {column, value, index} = e.detail
        this.editingColumn = {
          column,
          index,
        }
        switch (column) {
          case 'age':
            this.secondColumnTemplate.style.display = 'block'
            this.secondColumnTemplate.value = value
            this.secondColumnTemplate.style.width = '100%'
            this.secondColumnTemplate.focus()
            break
          case 'description':
            this.thirdColumnTemplate.style.display = 'block'
            this.thirdColumnTemplate.value = value
            this.thirdColumnTemplate.style.width = '100%'
            this.thirdColumnTemplate.focus()
            break
        }
      },
    }

    table.data = [
      {
        gender: 'Male',
        age: 20,
        description:
          'Third column data with longer text than the others - row 1',
      },
      {
        gender: 'Female',
        age: 20,
        description:
          'Third column data with longer text than the others - row 2',
      },
      {
        gender: 'Other',
        age: 20,
        description:
          'Third column data with longer text than the others - row 3',
      },
    ]
    this.querySelector('#description').addEventListener('blur', (e) =&gt; {
      const newTableData = table.finishEditing(
        this.editingColumn.column,
        this.editingColumn.index,
        e.target.value,
      )
      this.thirdColumnTemplate.style.display = 'none'
    })
    this.querySelector('#age').addEventListener('blur', (e) =&gt; {
      const newTableData = table.finishEditing(
        this.editingColumn.column,
        this.editingColumn.index,
        e.target.value,
      )
      this.secondColumnTemplate.style.display = 'none'
    })
&lt;/script&gt;</code>
</pre>
</cdg-sample-section>
