<p>
  The quantity toggle component is used to increase or decrease an incremental
  venue, usually best used when the user needs to enter or adjust the quantity
  of a selected item.
</p>

<cdg-sample-section name="Default">
  <div class="sample-section">
    <cdg-quantity-toggle onchange="handleOnchange(event)">
      <button class="cdg-button">-</button>
      <input type="number" placeholder="Input quantity" value="0" />
      <button class="cdg-button">+</button>
    </cdg-quantity-toggle>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-quantity-toggle onchange=&quot;handleOnchange(event)&quot;&gt;
    &lt;button class=&quot;cdg-button&quot;&gt;-&lt;/button&gt;
    &lt;input type=&quot;number&quot; placeholder=&quot;Input quantity&quot; value=&quot;0&quot; /&gt;
    &lt;button class=&quot;cdg-button&quot;&gt;+&lt;/button&gt;
&lt;/cdg-quantity-toggle&gt;

&lt;script&gt;
function handleOnchange (event) {
    cdgToastService.toast(&apos;Changed &apos; + event.target.value);
};
&lt;/script&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Max & min">
  <style>
    .sample-size {
      width: 160px;
    }
  </style>
  <div class="sample-section">
    <cdg-quantity-toggle max="10" min="1" id="maxMinSample" class="sample-size">
      <button class="cdg-button">-</button>
      <input type="number" placeholder="Input quantity" value="0" />
      <button class="cdg-button">+</button>
    </cdg-quantity-toggle>
  </div>

  <pre>
    <code class="language-html">&lt;style&gt;
/** To customize size. It should not be smaller than 160px **/
.sample-size {
    width: 160px;
}
&lt;/style&gt;
&lt;cdg-quantity-toggle max=&quot;10&quot; min=&quot;1&quot; id=&quot;maxMinSample&quot; class=&quot;sample-size&quot;&gt;
    &lt;button class=&quot;cdg-button&quot;&gt;-&lt;/button&gt;
    &lt;input type=&quot;number&quot; placeholder=&quot;Input quantity&quot; value=&quot;0&quot; /&gt;
    &lt;button class=&quot;cdg-button&quot;&gt;+&lt;/button&gt;
&lt;/cdg-quantity-toggle&gt;
&lt;script&gt;
  const quantityToggle = document.querySelector(&apos;#maxMinSample&apos;);
  quantityToggle.addEventListener(&apos;validChange&apos;, (event) =&gt; {
    cdgToastService.toast(&apos;Error: &apos; + JSON.stringify(event.detail));
  });
&lt;/script&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Label & helper text">
  <div class="sample-section">
    <label class="cdg-input-group">
      <span class="cdg-input-label">Quantity</span>
      <cdg-quantity-toggle max="10" min="1">
        <button class="cdg-button">-</button>
        <input type="number" placeholder="Input quantity" value="0" />
        <button class="cdg-button">+</button>
      </cdg-quantity-toggle>
      <span class="cdg-helper-message">
        Quantity number should in range from 1 to 10
      </span>
    </label>
  </div>

  <pre>
    <code class="language-html">&lt;label class=&quot;cdg-input-group&quot;&gt;
    &lt;span class=&quot;cdg-input-label&quot;&gt;Quantity&lt;/span&gt;
    &lt;cdg-quantity-toggle max=&quot;10&quot; min=&quot;1&quot;&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;-&lt;/button&gt;
        &lt;input type=&quot;number&quot; placeholder=&quot;Input quantity&quot; value=&quot;0&quot; /&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;+&lt;/button&gt;
    &lt;/cdg-quantity-toggle&gt;
    &lt;span class=&quot;cdg-helper-message&quot;&gt;
        Quantity number should in range from 1 to 10
    &lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Disabled">
  <div class="sample-section">
    <label class="cdg-input-group">
      <span class="cdg-input-label">Quantity</span>
      <cdg-quantity-toggle max="10" min="1" disabled>
        <button class="cdg-button">-</button>
        <input type="number" placeholder="Input quantity" value="0" />
        <button class="cdg-button">+</button>
      </cdg-quantity-toggle>
      <span class="cdg-helper-message">
        Quantity number should in range from 1 to 10
      </span>
    </label>
  </div>

  <pre>
    <code class="language-html">&lt;label class=&quot;cdg-input-group&quot;&gt;
    &lt;span class=&quot;cdg-input-label&quot;&gt;Quantity&lt;/span&gt;
    &lt;cdg-quantity-toggle max=&quot;10&quot; min=&quot;1&quot; disabled&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;-&lt;/button&gt;
        &lt;input type=&quot;number&quot; placeholder=&quot;Input quantity&quot; value=&quot;0&quot; /&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;+&lt;/button&gt;
    &lt;/cdg-quantity-toggle&gt;
    &lt;span class=&quot;cdg-helper-message&quot;&gt;
        Quantity number should in range from 1 to 10
    &lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<script>
  window.handleOnchange = (event) => {
    cdgToastService.toast('Changed ' + event.target.value)
  }

  const quantityToggle = document.querySelector('#maxMinSample')
  quantityToggle.addEventListener('validChange', (event) => {
    cdgToastService.toast('Error: ' + JSON.stringify(event.detail))
  })
</script>
