<div>
  Template follow
  <a
    href="https://www.figma.com/file/JSiK3cmMmxTt8qhR3dty8t/Workbench-Design-System?node-id=546-52448&t=z2nqnewMChyRJmTt-4"
    target="_blank"
    >design</a
  >
</div>

<div>
  <div
    class="cdg-page-cover"
    style="
      height: 256px;
      width: 100%;
      padding: 62.5px;
      box-sizing: border-box;
      background-image: url('https://unpkg.com/@comfortdelgro/wc-compass@latest/dist/images/services-banner.svg');
      background-size: cover;
      border-radius: 4px;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    "
  >
    <div class="hero-title">
      <div
        style="
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #001232;
          margin-bottom: 20px;
        "
      >
        Welcome!
      </div>
      <div
        style="
          font-weight: 600;
          font-size: var(--heading4);
          line-height: var(--line-height-heading4);
          color: #001232;
        "
      >
        Do more in Workbench with our services
      </div>
      <div
        style="
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #001232;
        "
      >
        Add your favourite services for yourself or for a team.
      </div>
    </div>
  </div>
  <div class="your-services" style="margin-top: 16px">
    <h4>Your Services</h4>
    <div class="cdg-layout grid-3-columns">
      <cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Studio"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Biz"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Shopfront"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card>
    </div>
  </div>
  <div class="unassigned-services" style="margin-top: 16px">
    <h4>Unassigned Services</h4>
    <cdg-alert type="caution">
      <cdg-icon class="alert-type-icon" name="exclamation" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        Note: You cannot access some services without admin’s approval.
      </cdg-alert-content>
    </cdg-alert>
    <div class="cdg-layout grid-3-columns">
      <cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Studio"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Biz"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Shopfront"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card>
      <cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Studio"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Biz"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Shopfront"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card>
      <cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Studio"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Biz"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Shopfront"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card>
      <cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Studio"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Zig Biz"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card
      ><cdg-service-card
        imageLink="https://www.w3schools.com/html/workplace.jpg"
        serviceName="Shopfront"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip"
        serviceLink="#"
      ></cdg-service-card>
    </div>
  </div>
</div>
<pre>
    <code class="language-html">
&lt;div&gt;
  &lt;div
    class=&quot;cdg-page-cover&quot;
    style=&quot;
      height: 256px;
      width: 100%;
      padding: 62.5px;
      box-sizing: border-box;
      background-image: url('https://unpkg.com/@comfortdelgro/wc-compass@latest/dist/images/services-banner.svg');
      background-size: cover;
      border-radius: 4px;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    &quot;
  &gt;
    &lt;div class=&quot;hero-title&quot;&gt;
      &lt;div
        style=&quot;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #001232;
          margin-bottom: 20px;
        &quot;
      &gt;
        Welcome!
      &lt;/div&gt;
      &lt;div
        style=&quot;
          font-weight: 600;
          font-size: var(--heading4);
          line-height: var(--line-height-heading4);
          color: #001232;
        &quot;
      &gt;
        Do more in Workbench with our services
      &lt;/div&gt;
      &lt;div
        style=&quot;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #001232;
        &quot;
      &gt;
        Add your favourite services for yourself or for a team.
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;your-services&quot; style=&quot;margin-top: 16px&quot;&gt;
    &lt;h4&gt;Your Services&lt;/h4&gt;
    &lt;div class=&quot;cdg-layout grid-3-columns&quot;&gt;
      &lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Studio&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Biz&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Shopfront&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;unassigned-services&quot; style=&quot;margin-top: 16px&quot;&gt;
    &lt;h4&gt;Unassigned Services&lt;/h4&gt;
    &lt;cdg-alert type=&quot;caution&quot;&gt;
      &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;exclamation&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
      &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        Note: You cannot access some services without admin&rsquo;s approval.
      &lt;/cdg-alert-content&gt;
    &lt;/cdg-alert&gt;
    &lt;div class=&quot;cdg-layout grid-3-columns&quot;&gt;
      &lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Studio&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Biz&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Shopfront&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card&gt;
      &lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Studio&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Biz&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Shopfront&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card&gt;
      &lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Studio&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Biz&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Shopfront&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card&gt;
      &lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Studio&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Zig Biz&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card
      &gt;&lt;cdg-service-card
        imageLink=&quot;https://www.w3schools.com/html/workplace.jpg&quot;
        serviceName=&quot;Shopfront&quot;
        description=&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip&quot;
        serviceLink=&quot;#&quot;
      &gt;&lt;/cdg-service-card&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
</pre>
<pre>
  <code>
   
  </code>
</pre>
