<p>
  Switches allow users to contol an individual option state on or off. They are
  usually used to activate or deactivate a specific setting.
</p>

<cdg-sample-section name="Default">
  <div class="sample-section column">
    <div class="cdg-form-row">
      <label is="cdg-toggle" checked>
        <input type="checkbox" />
        <span>Private Bus Chartering</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle">
        <input type="checkbox" />
        <span>Transport Services Marketplace</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle" checked disabled>
        <input type="checkbox" />
        <span>Add / Delete Group</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle" disabled>
        <input type="checkbox" />
        <span>Edit Group Setting</span>
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; checked&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Private Bus Chartering&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot;&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Transport Services Marketplace&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; checked disabled&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Add / Delete Group&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; disabled&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Edit Group Setting&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Large">
  <div class="sample-section column">
    <div class="cdg-form-row">
      <label is="cdg-toggle" class="large" checked>
        <input type="checkbox" />
        <span>Private Bus Chartering</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle" class="large">
        <input type="checkbox" />
        <span>Transport Services Marketplace</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle" class="large" checked disabled>
        <input type="checkbox" />
        <span>Add / Delete Group</span>
      </label>
    </div>
    <div class="cdg-form-row">
      <label is="cdg-toggle" class="large" disabled>
        <input type="checkbox" />
        <span>Edit Group Setting</span>
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; class=&quot;large&quot; checked&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Private Bus Chartering&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; class=&quot;large&quot;&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Transport Services Marketplace&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; class=&quot;large&quot; checked disabled&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Add / Delete Group&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;cdg-form-row&quot;&gt;
  &lt;label is=&quot;cdg-toggle&quot; class=&quot;large&quot; disabled&gt;
    &lt;input type=&quot;checkbox&quot; /&gt;
    &lt;span&gt;Edit Group Setting&lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;</code>
</pre>
</cdg-sample-section>

<cdg-toggle-styles-section></cdg-toggle-styles-section>
