<p>
  Accordions are used to make long chunks of information more succinct. A
  mechanism to allow users to show or hide related content.
</p>

<h3 class="sample-section-title">Default collapsed</h3>
<div class="sample-section column">
  <cdg-accordion>
    <cdg-accordion-header>Header</cdg-accordion-header>
    <cdg-accordion-content>
      <div class="sample-content">
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition.
      </div>
      <div class="action-bar">
        <button class="cdg-button" onclick="cdgToastService.toast('Awesome!')">
          Awesome!
        </button>
      </div>
    </cdg-accordion-content>
  </cdg-accordion>
</div>

<pre>
    <code class="language-html">&lt;cdg-accordion&gt;
    &lt;cdg-accordion-header&gt;Header&lt;/cdg-accordion-header&gt;
    &lt;cdg-accordion-content&gt;
        Put your content here
    &lt;/cdg-accordion-content&gt;
&lt;/cdg-accordion&gt;</code>
</pre>

<h3 class="sample-section-title">Expanded option</h3>
<div class="sample-section column">
  <cdg-accordion opened>
    <cdg-accordion-header>Header</cdg-accordion-header>
    <cdg-accordion-content>
      <div class="sample-content">
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition. <br />
        This is the content of this accorition.
      </div>
      <div class="action-bar">
        <button class="cdg-button" onclick="cdgToastService.toast('Awesome!')">
          Awesome!
        </button>
      </div>
    </cdg-accordion-content>
  </cdg-accordion>
  <div></div>
</div>

<pre>
    <code class="language-html">&lt;cdg-accordion opened&gt;
    &lt;cdg-accordion-header&gt;Header&lt;/cdg-accordion-header&gt;
    &lt;cdg-accordion-content&gt;
        Put your content here
    &lt;/cdg-accordion-content&gt;
&lt;/cdg-accordion&gt;</code>
</pre>
