<p>Alerts provide short, timely, and relevant information for your users.</p>

<cdg-sample-section name="Normal">
  <div class="sample-section cdg-layout as-column">
    <cdg-alert type="info">
      <cdg-icon class="alert-type-icon" name="info" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple primary alert text <a href="#">Text link</a>
      </cdg-alert-content>
    </cdg-alert>
    <cdg-alert type="success">
      <cdg-icon class="alert-type-icon" name="ticks" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple success alert text <a href="#">Text link</a>
      </cdg-alert-content>
      <cdg-icon
        class="close-button"
        name="close"
        size="16"
        onclick="alert('Close')"
      ></cdg-icon>
    </cdg-alert>
    <cdg-alert type="error">
      <cdg-icon class="alert-type-icon" name="exclamation" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple error alert text
      </cdg-alert-content>
      <cdg-icon
        class="close-button"
        name="close"
        size="16"
        onclick="alert('Close')"
      ></cdg-icon>
    </cdg-alert>
    <cdg-alert type="caution">
      <cdg-icon class="alert-type-icon" name="exclamation" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple caution alert text
      </cdg-alert-content>
    </cdg-alert>
  </div>
  <pre>
    <code class="language-html">&lt;cdg-alert type=&quot;info&quot;&gt;
    &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;info&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple primary alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;success&quot;&gt;
    &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;ticks&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple success alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
    &lt;/cdg-alert-content&gt;
    &lt;cdg-icon
        class=&quot;close-button&quot;
        name=&quot;close&quot;
        size=&quot;16&quot;
        onclick=&quot;alert(&apos;Close&apos;)&quot;
    &gt;&lt;/cdg-icon&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;error&quot;&gt;
    &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;exclamation&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple error alert text
    &lt;/cdg-alert-content&gt;
    &lt;cdg-icon
        class=&quot;close-button&quot;
        name=&quot;close&quot;
        size=&quot;16&quot;
        onclick=&quot;alert(&apos;Close&apos;)&quot;
    &gt;&lt;/cdg-icon&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;caution&quot;&gt;
    &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;exclamation&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple caution alert text
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="No Icon">
  <div class="sample-section cdg-layout as-column">
    <cdg-alert class="alert-type-icon" type="info">
      <cdg-alert-content class="alert-content">
        A simple primary alert text <a href="#">Text link</a>
      </cdg-alert-content>
    </cdg-alert>
    <cdg-alert type="success">
      <cdg-alert-content class="alert-content">
        A simple success alert text
      </cdg-alert-content>
      <cdg-icon
        class="close-button"
        name="close"
        size="16"
        onclick="alert('Close')"
      ></cdg-icon>
    </cdg-alert>
  </div>
  <pre>
      <code class="language-html">&lt;cdg-alert class=&quot;alert-type-icon&quot; type=&quot;info&quot;&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple primary alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;
  
&lt;cdg-alert type=&quot;success&quot;&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
        A simple success alert text
    &lt;/cdg-alert-content&gt;
    &lt;cdg-icon
        class=&quot;close-button&quot;
        name=&quot;close&quot;
        size=&quot;16&quot;
        onclick=&quot;alert(&apos;Close&apos;)&quot;
    &gt;&lt;/cdg-icon&gt;
&lt;/cdg-alert&gt;</code>
  </pre>
</cdg-sample-section>

<cdg-sample-section name="Center align - All">
  <div class="sample-section cdg-layout as-column">
    <cdg-alert type="error" align="center">
      <cdg-icon class="alert-type-icon" name="exclamation" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple error alert text <a href="#">Text link</a>
      </cdg-alert-content>
      <cdg-icon class="close-button" name="close" size="16"></cdg-icon>
    </cdg-alert>
    <cdg-alert type="success" align="center">
      <cdg-icon class="alert-type-icon" name="ticks" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content">
        A simple success alert text <a href="#">Text link</a>
      </cdg-alert-content>
    </cdg-alert>
  </div>
  <pre>
      <code class="language-html">&lt;cdg-alert type=&quot;error&quot; align=&quot;center&quot;&gt;
  &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;exclamation&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
  &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
      A simple error alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
  &lt;/cdg-alert-content&gt;
  &lt;cdg-icon
      class=&quot;close-button&quot;
      name=&quot;close&quot;
      size=&quot;16&quot;
  &gt;&lt;/cdg-icon&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;success&quot; align=&quot;center&quot;&gt;
  &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;ticks&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
  &lt;cdg-alert-content class=&quot;alert-content&quot;&gt;
      A simple success alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
  &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;</code>
  </pre>
</cdg-sample-section>

<cdg-sample-section name="Center align - Content">
  <div class="sample-section cdg-layout as-column">
    <cdg-alert type="caution">
      <cdg-icon class="alert-type-icon" name="exclamation" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content" align="center">
        A simple caution alert text
      </cdg-alert-content>
    </cdg-alert>
    <cdg-alert type="info">
      <cdg-icon name="info" class="alert-type-icon" size="24"></cdg-icon>
      <cdg-alert-content class="alert-content" align="center">
        A simple primary alert text <a href="#">Text link</a>
      </cdg-alert-content>
      <cdg-icon
        class="close-button"
        name="close"
        size="16"
        onclick="alert('Close')"
      ></cdg-icon>
    </cdg-alert>
    <cdg-alert type="error">
      <cdg-alert-content class="alert-content" align="center">
        A simple error alert text
      </cdg-alert-content>
    </cdg-alert>
    <cdg-alert type="caution">
      <cdg-alert-content class="alert-content" align="center">
        A simple caution alert text <a href="#">Text link</a>
      </cdg-alert-content>
    </cdg-alert>
  </div>
  <pre>
    <code class="language-html">&lt;cdg-alert type=&quot;caution&quot;&gt;
    &lt;cdg-icon class=&quot;alert-type-icon&quot; name=&quot;exclamation&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot; align=&quot;center&quot;&gt;
        A simple caution alert text
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;info&quot;&gt;
    &lt;cdg-icon name=&quot;info&quot; class=&quot;alert-type-icon&quot; size=&quot;24&quot;&gt;&lt;/cdg-icon&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot; align=&quot;center&quot;&gt;
        A simple primary alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
    &lt;/cdg-alert-content&gt;
    &lt;cdg-icon
        class=&quot;close-button&quot;
        name=&quot;close&quot;
        size=&quot;16&quot;
        onclick=&quot;alert(&apos;Close&apos;)&quot;
    &gt;&lt;/cdg-icon&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;error&quot;&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot; align=&quot;center&quot;&gt;
        A simple error alert text
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;

&lt;cdg-alert type=&quot;caution&quot;&gt;
    &lt;cdg-alert-content class=&quot;alert-content&quot; align=&quot;center&quot;&gt;
        A simple caution alert text &lt;a href=&quot;#&quot;&gt;Text link&lt;/a&gt;
    &lt;/cdg-alert-content&gt;
&lt;/cdg-alert&gt;</code>
</pre>
</cdg-sample-section>
