<h2>Popover</h2>

<pre>
  <code class="language-html">
    &lt;cdg-popover direction=&quot;bottom&quot;&gt;
      &lt;button class=&quot;cdg-button&quot; id=&quot;buttonPopover&quot; cdg-popover-header&gt;
        Popover
      &lt;/button&gt;
      &lt;cdg-popover-content&gt;
        &lt;div style=&quot;width: 250px; padding: 8px 16px&quot;&gt;
          &lt;p&gt;Line 1&lt;/p&gt;
          &lt;p&gt;Line 2&lt;/p&gt;
        &lt;/div&gt;
      &lt;/cdg-popover-content&gt;
    &lt;/cdg-popover&gt;
  </code>
</pre>

<div>
  <label class="cdg-input-group" style="width: 350px; margin-bottom: 100px">
    <cdg-dropdown placeholder="Select directions" name="directions">
      <cdg-dropdown-option value="topLeft">topLeft</cdg-dropdown-option>
      <cdg-dropdown-option value="top">top</cdg-dropdown-option>
      <cdg-dropdown-option value="topRight">topRight</cdg-dropdown-option>
      <cdg-dropdown-option value="leftTop">leftTop</cdg-dropdown-option>
      <cdg-dropdown-option value="left">left</cdg-dropdown-option>
      <cdg-dropdown-option value="leftBottom">leftBottom</cdg-dropdown-option>
      <cdg-dropdown-option value="rightTop">rightTop</cdg-dropdown-option>
      <cdg-dropdown-option value="right">right</cdg-dropdown-option>
      <cdg-dropdown-option value="rightBottom">rightBottom</cdg-dropdown-option>
      <cdg-dropdown-option value="bottomLeft">bottomLeft</cdg-dropdown-option>
      <cdg-dropdown-option value="bottom" selected="true"
        >bottom</cdg-dropdown-option
      >
      <cdg-dropdown-option value="bottomRight">bottomRight</cdg-dropdown-option>
    </cdg-dropdown>
  </label>

  <div style="display: flex; justify-content: center">
    <cdg-popover direction="bottom">
      <button class="cdg-button" id="buttonPopover" cdg-popover-header>
        Popover
      </button>
      <cdg-popover-content>
        <div style="width: 250px; padding: 8px 16px">
          <p>Line 1</p>
          <p>Line 2</p>
        </div>
      </cdg-popover-content>
    </cdg-popover>
  </div>
</div>

<div style="height: 500px"></div>

<script>
  const directions = document.querySelector('cdg-dropdown[name="directions"]');
  const cdgPopover = document.querySelector('cdg-popover');
  if (cdgPopover) {
    directions.addEventListener('onchangevalue', function (event) {
      cdgPopover.setAttribute('direction', event.detail);
    });
    const buttonPopover = cdgPopover.querySelector('button#buttonPopover');
    buttonPopover.addEventListener('click', function (event) {
      cdgPopover.setAttribute('open', 'true');
    });
  }
</script>
