<div
  style="
    width: calc(100% - 32px);
    min-height: 100vh;
    background-color: #f4f7fc;
    padding: 16px;
  "
>
  <cdg-testimonial use-arrow="true">
    <cdg-slide>
      <cdg-testimonial-box>
        <div class="cdg-testimonial-content">
          <div class="cdg-testimonial-content-title">
            Great Design & Solution!
          </div>
          <div class="cdg-testimonial-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
            sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
            nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
            posuere. Praesent congue ex eget enim rutrum, et congue mi
            fermentum. Morbi id ex id sem tincidunt molestie.
          </div>
        </div>
        <div testimonialContentRating max-star="5" value="3.7"></div>
        <div class="cdg-testimonial-user">
          <div class="cdg-testimonial-user-image">
            <img src="https://picsum.photos/90/90?1" alt="" />
          </div>
          <div class="cdg-testimonial-user-infomation">
            <div class="cdg-testimonial-user-name">Mang Oleh</div>
            <div class="cdg-testimonial-user-title">Product Designer</div>
          </div>
        </div>
      </cdg-testimonial-box></cdg-slide
    >
    <cdg-slide>
      <cdg-testimonial-box>
        <div class="cdg-testimonial-content">
          <div class="cdg-testimonial-content-title">
            Great Design & Solution!
          </div>
          <div class="cdg-testimonial-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
            sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
            nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
            posuere. Praesent congue ex eget enim rutrum, et congue mi
            fermentum. Morbi id ex id sem tincidunt molestie.
          </div>
        </div>
        <div testimonialContentRating max-star="5" value="2.5"></div>
        <div class="cdg-testimonial-user">
          <div class="cdg-testimonial-user-image">
            <img src="https://picsum.photos/90/90?2" alt="" />
          </div>
          <div class="cdg-testimonial-user-infomation">
            <div class="cdg-testimonial-user-name">Mang Oleh 1</div>
            <div class="cdg-testimonial-user-title">Product Designer</div>
          </div>
        </div>
      </cdg-testimonial-box></cdg-slide
    >
    <cdg-slide>
      <cdg-testimonial-box>
        <div class="cdg-testimonial-content">
          <div class="cdg-testimonial-content-title">
            Great Design & Solution!
          </div>
          <div class="cdg-testimonial-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
            sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
            nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
            posuere. Praesent congue ex eget enim rutrum, et congue mi
            fermentum. Morbi id ex id sem tincidunt molestie.
          </div>
        </div>
        <div testimonialContentRating max-star="5" value="5"></div>
        <div class="cdg-testimonial-user">
          <div class="cdg-testimonial-user-image">
            <img src="https://picsum.photos/90/90?3" alt="" />
          </div>
          <div class="cdg-testimonial-user-infomation">
            <div class="cdg-testimonial-user-name">Mang Oleh 2</div>
            <div class="cdg-testimonial-user-title">Product Designer</div>
          </div>
        </div>
      </cdg-testimonial-box></cdg-slide
    >
  </cdg-testimonial>

  <pre>
    <code class="language-html">
&lt;cdg-testimonial use-arrow=&quot;true&quot;&gt;
  &lt;cdg-slide&gt;
    &lt;cdg-testimonial-box&gt;
      &lt;div class=&quot;cdg-testimonial-content&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-content-title&quot;&gt;
          Great Design &amp; Solution!
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-content-text&quot;&gt;
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
          sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
          nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
          posuere. Praesent congue ex eget enim rutrum, et congue mi
          fermentum. Morbi id ex id sem tincidunt molestie.
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div testimonialContentRating max-star=&quot;5&quot; value=&quot;3.7&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;cdg-testimonial-user&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-user-image&quot;&gt;
          &lt;img src=&quot;https://picsum.photos/90/90?1&quot; alt=&quot;&quot; /&gt;
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-user-infomation&quot;&gt;
          &lt;div class=&quot;cdg-testimonial-user-name&quot;&gt;Mang Oleh&lt;/div&gt;
          &lt;div class=&quot;cdg-testimonial-user-title&quot;&gt;Product Designer&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/cdg-testimonial-box&gt;&lt;/cdg-slide
  &gt;
  &lt;cdg-slide&gt;
    &lt;cdg-testimonial-box&gt;
      &lt;div class=&quot;cdg-testimonial-content&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-content-title&quot;&gt;
          Great Design &amp; Solution!
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-content-text&quot;&gt;
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
          sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
          nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
          posuere. Praesent congue ex eget enim rutrum, et congue mi
          fermentum. Morbi id ex id sem tincidunt molestie.
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div testimonialContentRating max-star=&quot;5&quot; value=&quot;2.5&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;cdg-testimonial-user&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-user-image&quot;&gt;
          &lt;img src=&quot;https://picsum.photos/90/90?2&quot; alt=&quot;&quot; /&gt;
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-user-infomation&quot;&gt;
          &lt;div class=&quot;cdg-testimonial-user-name&quot;&gt;Mang Oleh 1&lt;/div&gt;
          &lt;div class=&quot;cdg-testimonial-user-title&quot;&gt;Product Designer&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/cdg-testimonial-box&gt;&lt;/cdg-slide
  &gt;
  &lt;cdg-slide&gt;
    &lt;cdg-testimonial-box&gt;
      &lt;div class=&quot;cdg-testimonial-content&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-content-title&quot;&gt;
          Great Design &amp; Solution!
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-content-text&quot;&gt;
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel sem
          sed elit cursus convallis quis quis ipsum. Ut condimentum posuere
          nulla ac ultricies. Duis cursus nunc id orci tempus, ut dictum elit
          posuere. Praesent congue ex eget enim rutrum, et congue mi
          fermentum. Morbi id ex id sem tincidunt molestie.
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div testimonialContentRating max-star=&quot;5&quot; value=&quot;5&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;cdg-testimonial-user&quot;&gt;
        &lt;div class=&quot;cdg-testimonial-user-image&quot;&gt;
          &lt;img src=&quot;https://picsum.photos/90/90?3&quot; alt=&quot;&quot; /&gt;
        &lt;/div&gt;
        &lt;div class=&quot;cdg-testimonial-user-infomation&quot;&gt;
          &lt;div class=&quot;cdg-testimonial-user-name&quot;&gt;Mang Oleh 2&lt;/div&gt;
          &lt;div class=&quot;cdg-testimonial-user-title&quot;&gt;Product Designer&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/cdg-testimonial-box&gt;&lt;/cdg-slide
  &gt;
&lt;/cdg-testimonial&gt;
    </code>
</pre>
</div>
