<p>Textarea is used for inputting multiple lines of text.</p>

<cdg-sample-section name="Default">
  <div class="sample-section">
    <div class="cdg-form-row">
      <div class="cdg-input-group">
        <input class="cdg-input" placeholder="Type something..." />
      </div>
      <div class="cdg-input-group">
        <input
          class="cdg-input"
          placeholder="Type something..."
          disabled
          value="You cannot input me"
        />
      </div>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
    &lt;input
  class=&quot;cdg-input&quot;
  placeholder=&quot;Type something...&quot;
  disabled
  value=&quot;You cannot input me&quot;
/&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With label and customize width">
  <div class="sample-section">
    <div class="cdg-form-row">
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Input me</span>
        <input class="cdg-input" placeholder="Type something..." />
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With helper message">
  <div class="sample-section">
    <div class="cdg-form-row">
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Input me</span>
        <input class="cdg-input" placeholder="Type something..." />
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Disabled input field</span>
        <input
          class="cdg-input"
          placeholder="Type something..."
          disabled
          value="You cannot input me"
        />
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;
&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Disabled input field&lt;/span&gt;
  &lt;input
    class=&quot;cdg-input&quot;
    placeholder=&quot;Type something...&quot;
    disabled
    value=&quot;You cannot input me&quot;
  /&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Error field and match parent width">
  <div class="sample-section">
    <label class="cdg-input-group error" style="width: 100%">
      <span class="cdg-input-label">I'm an required field</span>
      <input class="cdg-input" placeholder="Please input me..." />
      <span class="cdg-helper-message">This field is required!</span>
    </label>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group error&quot; style=&quot;width: 100%&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;I&apos;m an required field&lt;/span&gt;
  &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Please input me...&quot; /&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;This field is required!&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With icon on the left">
  <div class="sample-section">
    <label class="cdg-input-group" style="width: 320px">
      <span class="cdg-input-label">Input me</span>
      <div class="cdg-input-with-icon left">
        <cdg-icon name="user"></cdg-icon>
        <input class="cdg-input" placeholder="Type something..." />
      </div>
      <span class="cdg-helper-message">Ex: It's awesome</span>
    </label>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon left&quot;&gt;
    &lt;cdg-icon name=&quot;user&quot;&gt;&lt;/cdg-icon&gt;
    &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Error with icon on the left">
  <div class="sample-section">
    <label class="cdg-input-group error" style="width: 320px">
      <span class="cdg-input-label">Input me</span>
      <div class="cdg-input-with-icon left">
        <cdg-icon name="user"></cdg-icon>
        <input class="cdg-input" placeholder="Type something..." />
      </div>
      <span class="cdg-helper-message">This field is required!</span>
    </label>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group error&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon left&quot;&gt;
    &lt;cdg-icon name=&quot;user&quot;&gt;&lt;/cdg-icon&gt;
    &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;This field is required!&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With icon on the right">
  <div class="sample-section">
    <div class="cdg-form-row">
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Input me</span>
        <div class="cdg-input-with-icon right">
          <input class="cdg-input" placeholder="Type something..." />
          <cdg-icon name="arrowDown" size="16"></cdg-icon>
        </div>
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Input me</span>
        <div class="cdg-input-with-icon right">
          <input class="cdg-input" placeholder="Type something..." disabled />
          <cdg-icon name="arrowDown" size="16"></cdg-icon>
        </div>
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon right&quot;&gt;
    &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
    &lt;cdg-icon name=&quot;arrowDown&quot; size=&quot;16&quot;&gt;&lt;/cdg-icon&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;
&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon right&quot;&gt;
    &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; disabled /&gt;
    &lt;cdg-icon name=&quot;arrowDown&quot; size=&quot;16&quot;&gt;&lt;/cdg-icon&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With icon on both side">
  <div class="sample-section">
    <div class="cdg-form-row">
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Input me</span>
        <div class="cdg-input-with-icon left right">
          <cdg-icon name="user"></cdg-icon>
          <input class="cdg-input" placeholder="Type something..." />
          <cdg-icon name="filledArrowDown" size="16"></cdg-icon>
        </div>
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
      <label class="cdg-input-group" style="width: 320px">
        <span class="cdg-input-label">Disabled input field</span>
        <div class="cdg-input-with-icon left right">
          <cdg-icon name="user"></cdg-icon>
          <input
            class="cdg-input"
            placeholder="Type something..."
            disabled
            value="You cannot input me"
          />
          <cdg-icon name="filledArrowDown" size="16"></cdg-icon>
        </div>
        <span class="cdg-helper-message">Ex: It's awesome</span>
      </label>
    </div>
  </div>

  <pre>
  <code class="language-html">&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Input me&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon left right&quot;&gt;
    &lt;cdg-icon name=&quot;user&quot;&gt;&lt;/cdg-icon&gt;
    &lt;input class=&quot;cdg-input&quot; placeholder=&quot;Type something...&quot; /&gt;
    &lt;cdg-icon name=&quot;filledArrowDown&quot; size=&quot;16&quot;&gt;&lt;/cdg-icon&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;
&lt;label class=&quot;cdg-input-group&quot; style=&quot;width: 320px&quot;&gt;
  &lt;span class=&quot;cdg-input-label&quot;&gt;Disabled input field&lt;/span&gt;
  &lt;div class=&quot;cdg-input-with-icon left right&quot;&gt;
    &lt;cdg-icon name=&quot;user&quot;&gt;&lt;/cdg-icon&gt;
    &lt;input
      class=&quot;cdg-input&quot;
      placeholder=&quot;Type something...&quot;
      disabled
      value=&quot;You cannot input me&quot;
    /&gt;
    &lt;cdg-icon name=&quot;filledArrowDown&quot; size=&quot;16&quot;&gt;&lt;/cdg-icon&gt;
  &lt;/div&gt;
  &lt;span class=&quot;cdg-helper-message&quot;&gt;Ex: It&apos;s awesome&lt;/span&gt;
&lt;/label&gt;</code>
</pre>
</cdg-sample-section>
