<p>
  Video player is a type of control used to allow users to playback or fast
  forward videos content, giving them full control of video properties (eg.
  settings, volume) whilst watching a video.
</p>

<cdg-sample-section name="Default">
  <div class="sample-section">
    <cdg-video-player id="player" controls volume="50">
      <video
        src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4"
      ></video>
    </cdg-video-player>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-video-player id=&quot;player&quot; controls volume=&quot;50&quot;&gt;
    &lt;video
        src=&quot;http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4&quot;
    &gt;&lt;/video&gt;
&lt;/cdg-video-player&gt;

&lt;script&gt;
    const player = document.querySelector(&apos;#player&apos;);
    player.addEventListener(&apos;navigate&apos;, (event) =&gt; {
        cdgToastService.toast(event.detail);
    });

    player.addEventListener(&apos;play&apos;, (event) =&gt; {
        cdgToastService.toast(&apos;Video is &apos; + (event.detail ? &apos;playing&apos; : &apos;paused&apos;));
    });
&lt;/script&gt;</code>
</pre>
</cdg-sample-section>

<script>
  const player = document.querySelector('#player')
  player.addEventListener('navigate', (event) => {
    cdgToastService.toast(event.detail)
  })

  player.addEventListener('play', (event) => {
    cdgToastService.toast('Video is ' + (event.detail ? 'playing' : 'paused'))
  })
</script>
