<style>
  @media screen and (max-width: 767px) {
    .cdg-sample-section .sample-section {
      flex-direction: column;
    }
  }
</style>

<p>
  Cards can be used for headers and footers, a wide variety of content, contain
  contextual background images of colours.
</p>

<cdg-sample-section name="Title only">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-header title="Card title"> </cdg-card-header>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-header title="Card title"> </cdg-card-header>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">
&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;&lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With icon">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;
&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;&lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With content">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" class="secondary">Cancel</button>
      </cdg-card-actions>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" class="secondary">Cancel</button>
      </cdg-card-actions>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button secondary&quot;&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With Cover">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" type="secondary">Cancel</button>
      </cdg-card-actions>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" type="secondary">Cancel</button>
      </cdg-card-actions>
    </cdg-card>
  </div>
  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-cover
        src=&quot;https://picsum.photos/600/400&quot;
        style=&quot;height: 200px&quot;
    &gt;&lt;/cdg-card-cover&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button&quot; type=&quot;secondary&quot;&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="No Actions">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-cover
        src=&quot;https://picsum.photos/600/400&quot;
        style=&quot;height: 200px&quot;
    &gt;&lt;/cdg-card-cover&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="With content">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot;&gt;
    &lt;cdg-card-cover
        src=&quot;https://picsum.photos/600/400&quot;
        style=&quot;height: 200px&quot;
    &gt;&lt;/cdg-card-cover&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Default">
  <section style="background: var(--grey10); padding: 20px">
    <div class="sample-section" style="gap: 16px">
      <cdg-card style="width: 320px">
        <cdg-card-header title="Card title">
          <button is="cdg-button" class="ghost icon" size="small">
            <cdg-icon name="dots"></cdg-icon>
          </button>
        </cdg-card-header>
      </cdg-card>
      <cdg-card style="flex: 1">
        <cdg-card-header title="Card title">
          <button is="cdg-button" class="ghost icon" size="small">
            <cdg-icon name="dots"></cdg-icon>
          </button>
        </cdg-card-header>
      </cdg-card>
    </div>

    <pre>
    <code class="language-html">&lt;cdg-card&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;</code>
    </pre>
  </section>
</cdg-sample-section>

<cdg-sample-section name="Default with content">
  <section style="background: var(--grey10); padding: 20px">
    <div class="sample-section" style="gap: 16px">
      <cdg-card style="width: 320px">
        <cdg-card-header title="Card title">
          <button is="cdg-button" class="ghost icon" size="small">
            <cdg-icon name="dots"></cdg-icon>
          </button>
        </cdg-card-header>
        <cdg-card-body>
          Lorem ipsum dolor sit amet, consectetur adipiscingr
        </cdg-card-body>
        <cdg-card-actions>
          <button is="cdg-button">OK</button>
          <button is="cdg-button" type="secondary">Cancel</button>
        </cdg-card-actions>
      </cdg-card>
      <cdg-card style="flex: 1">
        <cdg-card-header title="Card title">
          <button is="cdg-button" class="ghost icon" size="small">
            <cdg-icon name="dots"></cdg-icon>
          </button>
        </cdg-card-header>
        <cdg-card-body>
          Lorem ipsum dolor sit amet, consectetur adipiscingr
        </cdg-card-body>
        <cdg-card-actions>
          <button is="cdg-button">OK</button>
          <button is="cdg-button" type="secondary">Cancel</button>
        </cdg-card-actions>
      </cdg-card>
    </div>

    <pre>
    <code class="language-html">&lt;cdg-card&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button&quot; type=&quot;secondary&quot;&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/cdg-card&gt;</code>
    </pre>
  </section>
</cdg-sample-section>

<cdg-sample-section name="Disabled">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px" disabled>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small" disabled>
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot; style=&quot;width: 320px&quot; disabled&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot; disabled&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Disabled">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px" disabled>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small" disabled>
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button" disabled>OK</button>
        <button is="cdg-button" type="secondary" disabled>Cancel</button>
      </cdg-card-actions>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot; disabled&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot; disabled&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot; disabled&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button&quot; type=&quot;secondary&quot; disabled&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Disabled">
  <div class="sample-section" style="gap: 16px">
    <cdg-card class="raised" style="width: 320px" disabled>
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small" disabled>
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button" disabled>OK</button>
        <button is="cdg-button" type="secondary" disabled>Cancel</button>
      </cdg-card-actions>
    </cdg-card>
    <cdg-card class="raised" style="flex: 1" disabled>
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small" disabled>
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button" disabled>OK</button>
        <button is="cdg-button" type="secondary" disabled>Cancel</button>
      </cdg-card-actions>
    </cdg-card>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-card class=&quot;raised&quot; disabled&gt;
    &lt;cdg-card-cover
        src=&quot;https://picsum.photos/600/400&quot;
        style=&quot;height: 200px&quot;
    &gt;&lt;/cdg-card-cover&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot; disabled&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot; disabled&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button&quot; type=&quot;secondary&quot; disabled&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/cdg-card&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Link">
  <div class="sample-section" style="gap: 16px">
    <a href="#cards" class="cdg-card raised" style="width: 320px">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </a>
    <a href="#cards" class="cdg-card raised" style="flex: 1">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
    </a>
  </div>

  <pre>
    <code class="language-html">&lt;a href=&quot;#cards&quot; class=&quot;cdg-card raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
&lt;/a&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Link">
  <div class="sample-section" style="gap: 16px">
    <a href="#cards" class="cdg-card raised" style="width: 320px">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
    </a>
    <a href="#cards" class="cdg-card raised" style="flex: 1">
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
    </a>
  </div>

  <pre>
    <code class="language-html">&lt;a href=&quot;#cards&quot; class=&quot;cdg-card raised&quot;&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
&lt;/a&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Link">
  <div class="sample-section" style="gap: 16px">
    <a href="#cards" class="cdg-card raised" style="width: 320px">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" type="secondary">Cancel</button>
      </cdg-card-actions>
    </a>
    <a href="#cards" class="cdg-card raised" style="flex: 1">
      <cdg-card-cover
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        style="height: 200px"
      ></cdg-card-cover>
      <cdg-card-header title="Card title">
        <button is="cdg-button" class="ghost icon" size="small">
          <cdg-icon name="dots"></cdg-icon>
        </button>
      </cdg-card-header>
      <cdg-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      </cdg-card-body>
      <cdg-card-actions>
        <button is="cdg-button">OK</button>
        <button is="cdg-button" type="secondary">Cancel</button>
      </cdg-card-actions>
    </a>
  </div>

  <pre>
    <code class="language-html">&lt;a href=&quot;#cards&quot; class=&quot;cdg-card raised&quot;&gt;
    &lt;cdg-card-cover
        src=&quot;https://picsum.photos/600/400&quot;
        style=&quot;height: 200px&quot;
    &gt;&lt;/cdg-card-cover&gt;
    &lt;cdg-card-header title=&quot;Card title&quot;&gt;
        &lt;button class=&quot;cdg-button ghost icon&quot; size=&quot;small&quot;&gt;
            &lt;cdg-icon name=&quot;dots&quot;&gt;&lt;/cdg-icon&gt;
        &lt;/button&gt;
    &lt;/cdg-card-header&gt;
    &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
    &lt;/cdg-card-body&gt;
    &lt;cdg-card-actions&gt;
        &lt;button class=&quot;cdg-button&quot;&gt;OK&lt;/button&gt;
        &lt;button class=&quot;cdg-button&quot; type=&quot;secondary&quot;&gt;Cancel&lt;/button&gt;
    &lt;/cdg-card-actions&gt;
&lt;/a&gt;</code>
</pre>
</cdg-sample-section>

<cdg-cards-properties-section></cdg-cards-properties-section>
<cdg-card-styles-properties-section></cdg-card-styles-properties-section>
<cdg-card-header-properties-section></cdg-card-header-properties-section>
<cdg-card-cover-properties-section></cdg-card-cover-properties-section>
