<cdg-sample-section name="Sizing">
  <div class="sample-section" style="flex-direction: column">
    <cdg-inline-loading size="large"></cdg-inline-loading>
    <cdg-inline-loading></cdg-inline-loading>
    <cdg-inline-loading size="small"></cdg-inline-loading>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-inline-loading size=&quot;large&quot;&gt;&lt;/cdg-inline-loading&gt;
&lt;cdg-inline-loading&gt;&lt;/cdg-inline-loading&gt;
&lt;cdg-inline-loading size=&quot;small&quot;&gt;&lt;/cdg-inline-loading&gt;</code>
</pre>
</cdg-sample-section>

<cdg-sample-section name="Color">
  <p>
    Loading color uses current text color, use color css property to override
    the color.
  </p>
  <div class="sample-section" style="color: purple; flex-direction: column">
    <cdg-inline-loading style="color: blue"></cdg-inline-loading>
    <cdg-inline-loading style="color: red"></cdg-inline-loading>
    <cdg-inline-loading></cdg-inline-loading>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-inline-loading style=&quot;color: blue&quot;&gt;&lt;/cdg-inline-loading&gt;
&lt;cdg-inline-loading style=&quot;color: red&quot;&gt;&lt;/cdg-inline-loading&gt;
&lt;div class=&quot;sample-section&quot; style=&quot;color: purple&quot;&gt;
  &lt;cdg-inline-loading&gt;&lt;/cdg-inline-loading&gt;
&lt;/div&gt;</code>
</pre>
</cdg-sample-section>

<cdg-inline-loading-properties-section></cdg-inline-loading-properties-section>
