html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
}

body {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

body cdg-nav-rail .workbench-title,
body .cdg-nav-rail .workbench-title {
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: var(--primary-color);
}

.doc-header {
  flex-shrink: 0;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.doc-header h1 {
  font-size: 24px;
  margin: 0;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  z-index: 0;
}

.page-body {
  display: flex;
  overflow: auto;
  flex: 1;
}

.cdg-sub-nav.hide {
  display: none;
}

.cdg-nav-rail-header {
  gap: 12px;
}

cdg-nav-rail .cdg-nav-rail-inner,
.cdg-nav-rail .cdg-nav-rail-inner {
  padding-bottom: 0;
}

.cdg-nav-rail cdg-avatar,
.cdg-nav-rail .cdg-avatar {
  color: #ffffff;
  background-color: var(--grey80);
}

.cdg-nav-rail .active cdg-avatar,
.cdg-nav-rail .active .cdg-avatar {
  background-color: var(--accent);
}

.sidebar {
  width: 250px;
  border-right: 1px solid var(--border-color);
  overflow: auto;
}

.doc-container {
  padding: 0 20px 20px 20px;
}

.doc-container .sample-section-title {
  margin: 0;
  color: var(--grey80);
}

.doc-container h3:not(:first-child) {
  margin-top: 20px;
}

.component-item {
  display: block;
  padding: 10px 20px;
}

.component-item.active {
  background: var(--accent);
  color: #ffffff;
}

.sample-section {
  display: flex;
  box-sizing: border-box;
  gap: 16px;
}

.sample-section.darker {
  background: var(--grey20);
  padding: 20px;
}

.sample-section.center {
  align-items: center;
}

.sample-section.column {
  flex-direction: column;
}

.sample-content {
  padding: 1rem 20px;
}

.action-bar {
  padding: 1rem 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

pre,
code {
  margin: 0;
}
code {
  color: #b91313;
  background: #ffeaea;
  border-radius: 4px;
  padding: 0 4px;
}

pre code.hljs {
  border-radius: 10px;
}

.icon-sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.grid-sample-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
}

.menu-section {
  font-size: 12px;
  color: var(--grey60);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.cdg-page-header {
  padding: 20px;
}

.cdg-page-header.hide {
  display: none;
}

.cdg-sample-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.cdg-sample-section .sample-header {
  margin-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cdg-sample-section .sample-header .cdg-tabs {
  width: auto;
}

.cdg-sample-section pre code {
  width: 100%;
}

.cdg-sample-section pre,
.cdg-sample-section .sample-section {
  display: none;
  width: 100%;
}

.cdg-sample-section pre.active,
.cdg-sample-section .sample-section.active {
  display: flex;
}

.doc-sample-image {
  max-width: 100%;
  border: 1px solid var(--border-color);
}

.guideline-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.guideline-table thead {
  background-color: var(--grey20);
  font-weight: 500;
}
.guideline-table thead th {
  padding: 14px 16px;
}
.guideline-table tbody td {
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .page-container {
    background-color: var(--background);
  }

  .cdg-page-header {
    padding: 20px 12px;
  }

  .doc-container {
    padding: 0 12px;
  }

  .sample-section.reverse {
    padding: 12px;
    background: var(--grey10);
  }

  .doc-container .sample-section-title {
    background: transparent;
    position: relative;
  }

  .cdg-sub-nav {
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: -1;
  }

  .cdg-sub-nav.stick {
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 11;
  }
}
