html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
}

body {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

body cdg-nav-rail .workbench-title,
body .cdg-nav-rail .workbench-title {
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: var(--primary-color);
}

.doc-header {
  flex-shrink: 0;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.doc-header h1 {
  font-size: 24px;
  margin: 0;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  z-index: 0;
}

.page-body {
  display: flex;
  overflow: auto;
  flex: 1;
}

.cdg-sub-nav.hide {
  display: none;
}

.cdg-nav-rail-header {
  gap: 12px;
}

cdg-nav-rail .cdg-nav-rail-inner,
.cdg-nav-rail .cdg-nav-rail-inner {
  padding-bottom: 0;
}

.cdg-nav-rail cdg-avatar,
.cdg-nav-rail .cdg-avatar {
  color: #ffffff;
  background-color: var(--grey80);
}

.cdg-nav-rail .active cdg-avatar,
.cdg-nav-rail .active .cdg-avatar {
  background-color: var(--accent);
}

.sidebar {
  width: 250px;
  border-right: 1px solid var(--border-color);
  overflow: auto;
}

.doc-container {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

.doc-container .sample-section-title {
  background: var(--background);
  position: sticky;
  top: -20px;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.doc-container h3:not(:first-child) {
  margin-top: 60px;
}

.component-item {
  display: block;
  padding: 10px 20px;
}

.component-item.active {
  background: var(--accent);
  color: #ffffff;
}

.sample-section {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.sample-section.darker {
  background: #f5f5f5;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  .sample-section.darker {
    background: #222;
  }
}

.dark .sample-section.darker {
  background: #222;
}

.sample-section.center {
  align-items: center;
}

.sample-section.column {
  flex-direction: column;
}

.sample-content {
  padding: 1rem 20px;
}

.action-bar {
  padding: 1rem 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

pre,
code {
  margin: 0;
}
code {
  color: #b91313;
  background: #ffeaea;
  border-radius: 4px;
  padding: 0 4px;
}

pre code.hljs {
  border-radius: 10px;
}

.icon-sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.grid-sample-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  row-gap: 20px;
}

.menu-section {
  font-size: 12px;
  color: var(--grey60);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
}

.cdg-nav-rail-body a {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .doc-container {
    padding: 0 12px;
  }

  .sample-section.reverse {
    padding: 12px;
    background: var(--grey10);
  }
}
