.cdg-pagination {
  display: flex;
  gap: 1rem;
  a.cdg-button,
  .cdg-button {
    border-radius: 20px;
    padding: 8px;
    @extend %body3;
    text-align: center;
    min-width: 2rem;
    height: 2rem;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: var(--grey100);
    &.arrow-icon {
      padding: 0;
    }
    &.active {
      color: #ffffff;
      background-color: var(--accent);
      &:hover {
        background-color: var(--accent);
      }
    }
    &:hover {
      background-color: var(--hover-background);
    }
    &[disabled] {
      color: var(--grey40);
      &:hover {
        background-color: transparent;
      }
    }
  }
  .cdg-pagination-pages {
    display: flex;
    gap: 1rem;
  }
}
