<cdg-sample-section name="Cards">
  <div class="sample-section">
    <cdg-carousel cards use-arrow="true" class="cdg-carousel-demo-cards">
      <cdg-slide type="cards">
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/005.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/006.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/007.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
      </cdg-slide>
      <cdg-slide type="cards">
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/008.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/009.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/010.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
      </cdg-slide>
      <cdg-slide type="cards">
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/011.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/012.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
        <cdg-card class="raised">
          <cdg-card-cover
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/013.webp"
          ></cdg-card-cover>
          <cdg-card-header title="Card title"> </cdg-card-header>
          <cdg-card-body>
            Lorem ipsum dolor sit amet, consectetur adipiscingr
          </cdg-card-body>
        </cdg-card>
      </cdg-slide>
    </cdg-carousel>
  </div>

  <pre>
    <code class="language-html">&lt;cdg-carousel cards use-arrow=&quot;true&quot;&gt;
  &lt;cdg-slide type=&quot;cards&quot;&gt;
    &lt;cdg-card class=&quot;raised&quot;&gt;
      &lt;cdg-card-cover
        src=&quot;https://picsum.photos/300/200?1&quot;
      &gt;&lt;/cdg-card-cover&gt;
      &lt;cdg-card-header title=&quot;Card title&quot;&gt; &lt;/cdg-card-header&gt;
      &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      &lt;/cdg-card-body&gt;
    &lt;/cdg-card&gt;
    &lt;cdg-card class=&quot;raised&quot;&gt;
      &lt;cdg-card-cover
        src=&quot;https://picsum.photos/300/200?2&quot;
      &gt;&lt;/cdg-card-cover&gt;
      &lt;cdg-card-header title=&quot;Card title&quot;&gt; &lt;/cdg-card-header&gt;
      &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      &lt;/cdg-card-body&gt;
    &lt;/cdg-card&gt;
    &lt;cdg-card class=&quot;raised&quot;&gt;
      &lt;cdg-card-cover
        src=&quot;https://picsum.photos/300/200?3&quot;
      &gt;&lt;/cdg-card-cover&gt;
      &lt;cdg-card-header title=&quot;Card title&quot;&gt; &lt;/cdg-card-header&gt;
      &lt;cdg-card-body&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscingr
      &lt;/cdg-card-body&gt;
    &lt;/cdg-card&gt;
  &lt;/cdg-slide&gt;
    ... other slides
&lt;/cdg-carousel&gt;</code>
</pre>
</cdg-sample-section>
