.cdg-page-indexes {
  display: flex;
  flex-direction: column;
  font-size: var(--body3);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
  }

  .cdg-page-index-item {
    display: flex;
    padding: 8px 16px;
    color: var(--grey80);
    cursor: pointer;
    &:hover {
      color: var(--accent);
    }
  }
}
