<style>
  .doc-container {
  }

  #demo-content {
    border: 1px solid var(--border);
    height: 600px;
  }

  #demo-content iframe {
    width: 100%;
    height: 100%;
  }
</style>

<div style="display: flex; flex-direction: column; flex: 1; overflow: auto">
  <cdg-toolbar style="margin-bottom: 20px">
    <div class="cdg-left-group">
      <a
        href="./components/website/contents/article.html"
        class="cdg-button secondary"
        target="_blank"
      >
        Open in new tab
      </a>
      <div class="cdg-button" id="codeModal">&lt;/&gt;</div>
    </div>
  </cdg-toolbar>
  <template for="codeModal">
    <cdg-modal size="large">
      <cdg-modal-header
        title="Code of article"
        useCloseButton="true"
      ></cdg-modal-header>
      <cdg-modal-body>
        <pre>
            <code id="code" class="language-html hljs language-xml"></code>
          </pre>
      </cdg-modal-body>
      <cdg-modal-actions class="multiple">
        <a href="http://google.com" target="_blank" class="cdg-button link">
          Details
        </a>
        <div class="cdg-separator"></div>
        <button class="cdg-button" id="largeOkButton" autofocus>Done</button>
      </cdg-modal-actions>
    </cdg-modal>
  </template>
  <div id="demo-content"></div>
</div>

<script>
  const demoContent = document.querySelector('#demo-content')
  const iframe = document.createElement('iframe')
  iframe.setAttribute('src', './components/website/contents/article.html')
  demoContent.appendChild(iframe)

  function downloadHTMLContent(url) {
    return new Promise((resolve, reject) => {
      fetch(url, {cache: 'no-cache'})
        .then((response) => response.text())
        .then((data) => {
          if (data) {
            resolve(data)
          } else {
            reject(new Error('Loaded file is not valid HTML File"'))
          }
        })
        .catch(() => {
          reject(new Error('Error loading HTML'))
        })
    })
  }

  const largeSampleButton = document.querySelector('#codeModal')
  const largeModal = document
    .querySelector('[for="codeModal"]')
    .content.firstElementChild.cloneNode(true)
  const largeOkButton = largeModal.querySelector('#largeOkButton')

  largeOkButton.addEventListener('click', () => {
    largeModal.close()
  })

  largeSampleButton.addEventListener('click', () => {
    cdgDialogService.show('codeSampleModal', largeModal)
    const code = document.querySelector('#code')
    downloadHTMLContent('./components/website/contents/article.html').then(
      (result) => {
        const highlightedCode = hljs.highlightAuto(result).value
        code.innerHTML = highlightedCode
      },
    )
  })
</script>
