cdg-navbar,
.cdg-navbar {
  display: flex;
  flex-direction: column;
  background: var(--background);
  container-name: TopNavBar;
  container-type: inline-size;

  a:has(.cdg-icon) {
    display: inline-block;
    line-height: 0;
  }
}

.cdg-navbar-inner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.cdg-mobile-nav {
  display: none;
}

.cdg-nav-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

@container TopNavBar (max-width: 768px) {
  .cdg-navbar-inner {
    padding: 16px 48px;
  }

  .cdg-nav-search,
  .cdg-nav-links {
    display: none;
  }

  .cdg-mobile-nav {
    display: inline-block;
  }
}

@container TopNavBar (max-width: 428px) {
  .cdg-navbar-inner {
    padding: 16px;
  }

  .cdg-nav-search,
  .cdg-nav-links {
    display: none;
  }
}
