.cdg-wizards {
  display: flex;
  &[readonly],
  &[disabled] {
    .cdg-wizard-step {
      &[status='completed']:hover,
      &:hover {
        .cdg-wizard-step-text {
          box-shadow: none;
        }
      }
      &[status='current']:hover {
        .cdg-wizard-step-text {
          box-shadow: 0 0 0 3px #115ef633;
        }
      }
    }
  }
}

.cdg-wizard-step {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  cursor: default;

  &[status='completed']:hover,
  &[status='current']:hover,
  &:hover {
    .cdg-wizard-step-text {
      box-shadow: 0 0 0 5px #115ef633;
      @extend %quickSmoothTransition;
    }
  }

  &[status='completed'],
  &[status='current'] {
    .cdg-wizard-step-text {
      background-color: var(--accent);
      color: #ffffff;
      box-shadow: 0 0 0 3px #115ef633;
    }
    .cdg-wizard-step-name {
      color: var(--grey100);
    }
  }

  &[status='completed'] {
    &::after,
    &::before {
      background-color: var(--accent);
    }
    .cdg-wizard-step-text {
      box-shadow: none;
    }
  }

  &[status='current'] {
    &::before {
      background-color: var(--accent);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: translate3d(0, -50%, 0);
    top: 10px;
    height: 2px;
    background-color: var(--blue20);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.cdg-wizard-step-text {
  width: 20px;
  height: 20px;
  color: var(--accent);
  background-color: var(--blue20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  @extend %label2;
  box-sizing: content-box;
  background-clip: content-box;
  position: relative;
  z-index: 1;
  appearance: none;
  border: none;
  padding: 0;
  cursor: default;
  @extend %quickSmoothTransition;
  cdg-icon,
  .cdg-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
  }
}

.cdg-wizard-step-name {
  @extend %label2;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--grey70);
}
