.cdg-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 6px 16px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  font-weight: 600;
  cursor: pointer;
  appearance: none;
  @extend %smoothTransition;
  @extend %body3;

  &.has-icon {
    justify-content: space-between;
  }

  &:has(.cdg-icon) {
    justify-content: space-between;
  }

  &:focus {
    @extend %smoothTransition;
  }

  &:focus-visible {
    outline: 2px solid #00a3ff;
  }

  &:hover {
    @extend %smoothTransition;
    background-color: var(--accent-darker);
  }

  &.icon {
    padding: 9px;
    .cdg-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }

  .cdg-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }

  .cdg-inline-loading {
    padding: 0 2px;
  }

  &.secondary {
    background-color: var(--background);
    border: 1px solid var(--accent);
    color: var(--accent);
    &:hover {
      background-color: var(--hover-background);
      border: 1px solid var(--accent);
      color: var(--accent);
    }
  }

  &.danger {
    background-color: var(--background);
    border: 1px solid var(--danger);
    color: var(--danger);
    &:hover {
      background-color: var(--danger-hover-background);
      border: 1px solid var(--danger);
      color: var(--danger);
    }
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--primary-color);
    &:hover {
      background-color: var(--darker-background);
      border: 1px solid var(--darker-background);
      color: var(--accent);
    }
  }

  &.link {
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--primary-color);
    &:hover {
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--accent);
    }
  }

  &[size='large'] {
    @extend %body2;
    padding: 8px 20px;

    &.icon {
      padding: 12px;
      .cdg-icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
      }
    }

    .cdg-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }

    .cdg-inline-loading {
      padding: 0 2px;
    }
  }

  &[size='small'] {
    padding: 4px 10px;
    @extend %label2;

    &.icon {
      padding: 6px 7px;
      .cdg-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }

    .cdg-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }

    .cdg-inline-loading {
      padding: 0;
    }
  }

  &[disabled] {
    background-color: var(--disabled-background);
    border: 1px solid var(--disabled-background);
    color: var(--disabled-color);
    cursor: not-allowed;
    &.primary,
    &.danger,
    &.secondary,
    &.ghost,
    &.primary:hover,
    &.danger:hover,
    &.secondary:hover,
    &.ghost:hover {
      background-color: var(--disabled-background);
      border: 1px solid var(--disabled-background);
      color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
}
