.cdg-datepicker {
  .cdg-datepicker-input-container {
    display: flex;
    gap: 24px;
    .cdg-input-group {
      gap: 8px;
    }
    .cdg-input-with-icon {
      .cdg-icon {
        color: var(--grey80);
      }
    }
  }
  .cdg-datepicker-input-content {
    width: 100%;
    .cdg-input {
      min-width: 100%;
    }
  }
}
.cdg-datepicker-floating-container {
  overflow-x: auto;
  .cdg-floating-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
