<cdg-sample-section name="Expanded option">
  <div class="sample-section column">
    <cdg-accordion opened>
      <cdg-accordion-header>Header</cdg-accordion-header>
      <cdg-accordion-content>
        <div class="sample-content">
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition. <br />
          This is the content of this accorition.
        </div>
        <div class="action-bar">
          <button
            is="cdg-button"
            onclick="cdgToastService.toast('Awesome!')"
          >
            Awesome!
          </button>
        </div>
      </cdg-accordion-content>
    </cdg-accordion>
    <div></div>
  </div>

  <pre>
      <code class="language-html">&lt;cdg-accordion opened&gt;
      &lt;cdg-accordion-header&gt;Header&lt;/cdg-accordion-header&gt;
      &lt;cdg-accordion-content&gt;
          Put your content here
      &lt;/cdg-accordion-content&gt;
  &lt;/cdg-accordion&gt;</code>
  </pre>
</cdg-sample-section>
